@media screen and (max-width: 768px) {
	.videobox {
		&__label {
			margin-top: 20px;
		}
	}

	.musical-constructor {
		&__info {
			@include grid-width(12);
			margin-top: 35px;
			order: 1;
		}

		&__image {
			@include grid-width(12);
		}
	}

	.about-education {
		&__videos {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		&__videobox {
			margin-top: 35px;
			@include grid-width(11);

			&:nth-child(1) {
				margin-top: 0px;
			}
		}
	}

	.about-project {
		&__left {
			@include grid-width(12);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__btn-submit {
			margin-top: 0px;
		}

		&__right {
			margin-top: 20px;
			@include grid-width(12);
		}

		&__row {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		&__videobox {
			margin-top: 35px;
			@include grid-width(11);

			&:nth-child(1) {
				margin-top: 0px;
			}
		}
	}

	.our-telegram {
		&__icons {
			display: none;
		}

		&__main-icon {
			display: flex;
		}

		&__title {
			margin-top: 15px;
			margin-bottom: 0px;
		}

		.main__left,
		.main__right {
			flex-shrink: 20;
		}
	}

	.project-authors {
		&__about_image {
			margin: 0 auto;
		}

		&__author-about {
			margin: 0 auto;
		}
	}

	.faq {
		&__left {
			@include grid-width(12);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__btn-submit {
			margin-top: 0px;
		}

		&__right {
			@include grid-width(12);
			margin-top: 35px;
		}
	}

	.contact-us {
		&__left {
			@include grid-width(12);
		}

		&__right {
			@include grid-width(12);
		}

		&__links {
			margin-top: 20px;
		}

		&__form {
			margin-top: 40px;
		}
	}

	.project-review {

		&__left {
			@include grid-width(12);
		}

		&__right {
			margin-top: 20px;
			@include grid-width(12);
		}
	}

	.examples-page {
		&__music-player {
			@include grid-width(6);

			&:nth-child(6n) .music-player__circle,
			&:nth-child(6n-2) .music-player__circle,
			&:nth-child(6n-4) .music-player__circle {
				background-color: $color_other_yellow;
			}
	
			&:nth-child(4n-1) .music-player__circle,
			&:nth-child(4n-2) .music-player__circle {
				background-color: $color_other_blue;
			}
		}
	}

	.mycourses-page {
		margin-top: 25px;

		&__tabs {
			margin-top: 30px;
		}

		&__courses {
			margin-top: 25px;
		}

		&__course-block {
			@include grid-width(12);
		}
	}

	.about-course {

		&__info {
			@include grid-width(12);
		}

		&__svg-btn {
			margin-top: 40px;
			@include grid-width(12);
		}
	}

	.course-scheme {

		&__title {
			@include grid-width(12);
			text-align: center;
		}

		&__stages {
			@include grid-width(12);
			margin-top: 45px;
			margin-bottom: -30px;
		}
	}

	.course-cell {
		&__img {
			display: none;
		}
	}

	.project-authors-block {
		&__left {
			min-width: 0px;
			width: 0px;
		}

		&__right {
			min-width: 0px;
			width: 0px;
		}
	}

	.course-card {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__image {

			img {
				width: auto;
				max-width: 100%;
				max-height: 480px;
			}
		}
	}

	.work-materials {
		&__controls {
			display: none;
		}
	}

	.popup-img-more {
		&__img {
			width: 100%;
			max-width: none;
			order: -1;
		}
	}

	.video-frame {
		min-height: 240px;
	}
}