@media screen and (max-width: 992px) {
	.main {
		&__left {
			min-width: 20px;
		}
	}

	.left-links {
		display: none;
	}

	.header {
		&__nav {
			display: none;
		}

		&__contacts {
			display: none;
		}
	}

	.all-courses {
		&__title {
			text-align: center;
		}

		&__cards {
			justify-content: center;
		}
	}

	.our-worth {
		&__cards {
			justify-content: center;
		}
	}

	.welcome {
		&__row {
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
		}

		&__left {
		}

		&__right {
			width: 100%;
		}

		&__icons {
			margin-top: 25px;
		}

		&__about {
			margin-top: 15px;
		}
	}

	.contacts-cells {

		&__cell {
			@include grid-width(6);
		}
	}

	.course-page-lesson {

		&__num {
			@include grid-width(2);
		}

		&__video {
			@include grid-width(10);
		}

		&__info {
			margin-top: 10px;
			@include grid-width(12);
		}
	}

	.work-examples {
		&__left {
			@include grid-width(12);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__btn-submit {
			margin-top: 0px;
		}

		&__right {
			@include grid-width(12);
		}

		&__right-row {
			display: none;
		}

		div &__pagination-mini {
			display: flex;
			margin-top: 50px;
		}

		&__row {
			width: 100%;
		}
	}
}