@media screen and (max-width: 576px) {
	.profile-dropdown {
		margin-left: 10px;
	}

	.footer {
		margin-top: 20px;

		&__rights {
			margin-top: 20px;
		}
	}

	.all-courses {
		margin-bottom: 40px;
	}

	.algorithm-education {
		margin-top: 40px;

		&__mini-title {
			display: block;
		}

		&__title {
			display: none;
		}

		&__stage {
			padding-left: 0px;
			width: 100%;
		}
	}

	.videobox {
		margin-top: 35px;

		&:nth-child(1) {
			margin-top: 0px;
		}

		&__label {
			margin-top: 20px;
		}
	}

	.project-aim {
		&__row {
			flex-direction: column;
		}

		&__description {
			margin-top: 30px;
		}
	}

	.project-about {
		&__row {
			flex-direction: column;
			justify-content: center;
		}

		&__statistics {
			margin-top: 20px;
			margin-left: -20px;
			justify-content: space-between;
		}

		&__image {
			height: 320px;
			margin-top: 30px;
		}
	}

	.project-aim {
		margin-top: 45px;

		&__images {
			flex-direction: column;
			justify-content: center;
		}

		&__image {
			&:nth-child(1) {
				margin-top: 0px;
			}

			margin-top: 30px;
			margin-left: 0px;
		}
	}

	.our-worth {
		margin-top: 60px;

		&__cards {
			margin-top: 40px;
		}

		&__card {
			margin-bottom: 15px;
		}
	}

	.about-education {
		margin-top: 55px;
	}

	.project-authors {
		margin-top: 40px;
	}

	.project-reviews {
		padding: 50px 0px;

		&__content {
			padding: 0px 20px;
			justify-content: center;
			flex-direction: column;
		}

		&__left {
			width: 100%;
			display: flex;
			margin: 0px;
			justify-content: space-between;
		}

		&__row {
			margin-top: 30px;
		}

		&__btns_main {
			opacity: 0;
		}

		div &__btns_mini {
			display: flex;
		}

		&__sender {
			margin-top: 10px;
		}

		&__review {
			margin-top: 16px;
		}

		&__submit {
			margin-top: 5px;
		}

		&__right {
			width: 100%;
			margin: 0px;
		}

		&__btn-more {
			margin-top: 28px;
		}

		&__btns_mini {
			margin-top: 40px;
		}
	}

	.news {
		margin-top: 55px;
		margin-bottom: 80px;

		&__row {
			margin-top: 40px;
		}

		&__news-card {
			width: 100%;
			display: none;

			&:nth-child(1) {
				display: block;
			}
		}
	}

	.algorithm-stage {
		&__label {
			margin-left: 20px;
		}
	}

	.creative-result {
		&__title {
			height: 75px;
			@include title(h5);
		}

		&__mini-labels {
			justify-content: center;
		}
	}

	.creative-result-label {
		&_mini {
			@include grid-width(12);
		}
	}

	.contacts-cells {

		&__cell {
			@include grid-width(12);
		}
	}

	.blog-page {
		&__news-card {
			@include grid-width(12);
		}
	}

	.settings-password {
		margin-bottom: 70px;

		&__input-row {
			flex-direction: column;
		}
	}

	.course-info {

		&__title {
			@include grid-width(12);
		}

		&__content {
			margin-top: 30px;
			@include grid-width(12);
		}
	}

	.about-course {
		&__image {
			margin-top: 25px;
			height: 250px;
		}
	}

	.course-stage {
		@include grid-width(12);

		&:nth-child(2n) {
			display: none;
		}

		&:nth-last-child() {
			margin-bottom: 0px;
		}

		&__stages {
			margin-bottom: -30px;
		}

		&__divider {
			transform: none;
		}
	}

	.course-cell {
		&__label {
			width: 100%;
		}

		&__price {
			margin-top: 15px;
		}
	}

	.popup-buy-course {
		&__btn {
			width: 100%;
		}

		&__regulations {
			margin-top: 15px;
			width: 100%;
		}
	}
}