{##}
<footer class="footer">
	<div class="footer__inner">
		<div class="footer__words">
		</div>
		<div class="footer__content">
			<div class="footer__column footer__column_column1">
				<a href="/"><img class="footer__logo logo" src="{{ 'assets/images/main-logo.png'|theme }}" alt="Логотип" class="logo__image"></a>
				<a href="#" class="footer__regulations">Политика конфиденциальности и обработки персональных данных.</a>
			</div>
			<div class="footer__column footer__column_column2">
				<div class="footer__contacts footer-contacts">
					<div class="footer-contacts__row phone-row phone-row_mini">
						<a href="tel:{{ this.theme.phone }}" class="phone-row__phone">{{ this.theme.phone }}</a>
						{% if this.theme.tg_link != '/' %}
						<a href="{{ this.theme.tg_link }}" class="phone-row__soc-icon"><img src="{{ 'assets/images/icons/soc/telegram.png'|theme }}" alt="Телеграм"></a>
						{% endif %}
						{% if this.theme.wapp_link != '/' %}
						<a href="{{ this.theme.wapp_link }}" class="phone-row__soc-icon"><img src="{{ 'assets/images/icons/soc/whatsapp.png'|theme }}" alt="WhatsApp"></a>
						{% endif %}
					</div>
					<div class="footer-contacts__row"><a href="mailto:{{ this.theme.email }}">{{ this.theme.email }}</a></div>
					<div class="footer-contacts__row">
						{% for soc_link in this.theme.soc_links %}
							{% if soc_link.link != '/' %}
								<a href="{{ soc_link.link }}" class="footer-contacts__soc soc-link">{{ soc_link.link_name }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
				<div class="footer__rights">{{ 'now' | date('Y') }}©Все права защищены.</div>
			</div>
			<div class="footer__column footer__column_column3">
				<div class="footer__links">
					<div class="footer__link"><a href="/courses/about/">все курсы</a></div>
					<div class="footer__link"><a href="/about">о проекте</a></div>
					<div class="footer__link"><a href="/contacts">контакты</a></div>
					<div class="footer__link"><a href="/blog">блог</a></div>
				</div>
			</div>
			<div class="footer__column footer__column_column4">
				<div class="footer__links">
					<div class="footer__link"><a href="/mycourses">личный кабинет</a></div>
					<div class="footer__link"><a href="/contacts">контакты</a></div>
					<div class="footer__link"><a href="/faq">вопрос-ответ</a></div>
				</div>
				<div class="footer__dev"><a href="https://webfam.ru/">made by webfam.ru</a></div>
			</div>
		</div>
	</div>
</footer>