<header class="header">
	<div class="header__inner">
		<a href="/"><img class="header__logo logo" src="{{ 'assets/images/main-logo.png'|theme }}" alt="Логотип" class="logo__image"></a>
		<nav class="header__nav main-nav">
			<div class="main-nav__links">
				<a href="/catalog" class="main-nav__link">все курсы</a>
				<a href="/about" class="main-nav__link">о проекте</a>
			</div>
		</nav>
		<div class="header__contacts header-contacts">
			<a class="header-contacts__phone" href="tel:+74951234556">+7 (495) 123 45 56</a>
			<div class="header-contacts__soc-list">
				<a href="#" class="header-contacts__soc"><img src="{{ 'assets/images/icons/soc/telegram.png'|theme }}" alt="Телеграм"></a>
				<a href="#" class="header-contacts__soc"><img src="{{ 'assets/images/icons/soc/whatsapp.png'|theme }}" alt="WhatsApp"></a>
			</div>
		</div>
		<div class="header__menu">
			<div class="profile-dropdown">
				<img src="{{ 'assets/images/icons/profile.png'|theme }}" alt="Профиль" class="header-dropdown__icon">
				<div class="profile-dropdown__content">
					<a href="#" class="profile-dropdown__link">Мои курсы</a>
					<a href="#" class="profile-dropdown__link">Настройки профиля</a>
					<a href="#" class="profile-dropdown__link">Выход</a>
				</div>
			</div>
			<div class="burger-dropdown">
				<img src="{{ 'assets/images/icons/burger.png'|theme }}" alt="Профиль" class="header-dropdown__icon">
			</div>
		</div>
	</div>
</header>