{##}
<div class="side-menu">
	<div class="side-menu__content">
		<div class="side-menu__close">
			<object
				data="{{ 'assets/images/icons/close.svg'|theme }}"
                type="image/svg+xml"
            ></object>
		</div>
		<div class="side-menu__links">
			<a href="/catalog" class="side-menu__link">все курсы</a>
			<a href="/about" class="side-menu__link">о проекте</a>
			<a href="/examples" class="side-menu__link">работы учеников</a>
			<a href="/reviews" class="side-menu__link">отзывы</a>
			<a href="/faq" class="side-menu__link">вопрос-ответ</a>
			<a href="/contacts" class="side-menu__link">контакты</a>
			<a href="/blog" class="side-menu__link">блог</a>
		</div>
		<div class="side-menu__contacts">
			<div class="side-menu__phone-row phone-row">
				<a href="tel:{{ this.theme.phone }}" class="phone-row__phone">{{ this.theme.phone }}</a>
				{% if this.theme.tg_link != '/' %}
				<a href="{{ this.theme.tg_link }}" class="phone-row__soc-icon"><img src="{{ 'assets/images/icons/soc/telegram.png'|theme }}" alt="Телеграм"></a>
				{% endif %}
				{% if this.theme.wapp_link != '/' %}
				<a href="{{ this.theme.wapp_link }}" class="phone-row__soc-icon"><img src="{{ 'assets/images/icons/soc/whatsapp.png'|theme }}" alt="WhatsApp"></a>
				{% endif %}
			</div>
			<div class="side-menu__email">
				<a href="mailto:{{ this.theme.email }}">{{ this.theme.email }}</a>
			</div>
            <div class="side-menu__soc-links">
				{% for soc_link in this.theme.soc_links %}
					{% if soc_link.link != '/' %}
						<a href="{{ soc_link.link }}" class="side-menu__soc-link soc-link">{{ soc_link.link_name }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>