.project-about {
    margin-top: 25px;

    &__label {
        @include text(p3);
        opacity: 0.7;
    }

    &__row {
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
	}

    &__info {
        flex: calc(50% - 10px);
    }

    &__title {
        @include title(h2);
    }

    &__description {
        margin-top: 28px;
        flex: calc(50% - 10px);
        @include text(p1);
    }

    &__statistics {
        flex: calc(50% - 10px);
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    &__cell {
        flex: calc(50% - 10px);
        margin-left: 20px;
        margin-bottom: 20px;
    }

    &__image {
		height: 400px;
        margin-top: 60px;
		border-radius: 20px;
		background: url(../images/project_about_image.png) no-repeat 50% 50% / cover;
    }
}

.cell {
    max-width: 219px;
    height: 92px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color_bg_blue;
    border-radius: 10px;

    &__value {
        @include title(h4);
        background: $gradient_main;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__label {
        @include text(p4);
    }
}

.project-aim {
    margin-top: 112px;

    &__row {
        display: flex;
    }

    &__aim {
        flex: 33.33%;
        @include title(h3);
    }

    &__description {
        flex: 66.66%;
    }

    &__title {
        @include title(h5);
    }

    &__about {
        margin-top: 22px;
        @include text(p2);
    }

    &__images {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    &__image {
		max-width: 540px;
		margin-left: 20px;

		&:nth-child(1) {
			margin-left: 0px;
		}
		
		img {
			max-width: 100%;
		}
    }
}

.our-worth {
    margin-top: 150px;

    &__title {
        text-align: center;
        @include title(h3);
    }

    &__cards {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        margin-bottom: 40px;
    }
}

.worth-card {
    position: relative;
    max-width: 540px;
    height: 200px;
    background: $color_bg_blue;
    border-radius: 20px;

    &__circle {
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: $color_other_yellow;
        border-radius: 50%;
        left: 20px;
        top: 40px;
	}
	
	&:nth-child(4n - 2) &__circle, &:nth-child(4n - 1) &__circle{
		background-color: $color_other_blue;
	}

    &__label {
        margin-left: 56px;
        margin-top: 66px;
        @include text(p1);
    }
}

.about-education {
	margin-top: 120px;
	padding-bottom: 111px;
    background-color: $color_bg_blue;

    &__algorithm {
        margin-top: 111px;
    }

    &__videos {
		margin-top: 70px;
		display: flex;
		justify-content: space-between;
		@include grid-row();
    }

    &__videobox {
		@include grid-width(6);
    }

    &__video {
		cursor: pointer;
		max-width: 100%;
    }

    &__label {
		margin-top: 36px;
		@include text(p2);
    }
}
.algorithm-education {
    &__row {
        margin-top: 28px;
        display: flex;
        justify-content: space-between;
	}
	
	&__mini-title {
		display: none;
		@include title(h3);
		text-align: center;
		margin-bottom: 20px;
	}

    &__title {
        @include title(h3);
    }

    &__stages {
        max-width: 610px;
    }

    &__stage {
        margin-top: 22px;
        padding-left: 36px;

        &:nth-child(1) {
            margin-top: 0px;
        }
    }

    &__divider-top {
		margin-bottom: 36px;
	}
	
	&__divider-bottom {
		margin-top: 36px;
    }
}

.project-authors-about{
	margin-top: 110px;
}

.project-reviews {
	margin-top: 125px;
	padding: 110px 0;
	background-color: $color_bg_blue;

	&__content {
		@include grid-row();
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__left {
		@include grid-width(3);
	}

	&__title {
		@include title(h3);
	}

	&__submit {
		margin-top: 48px;
	}

	&__right {
		@include grid-width(8);
	}

	&__row {
		display: flex;
		justify-content: space-between;
	}

	&__type {
		@include text(p3);
	}

	div &__btns_mini {
        z-index: -1;
        opacity: 0;
        
        &-loaded {
            z-index: 11;
            opacity: 1;
            display: none;
        }
	}

	&__btn-left {
	}

	&__btn-right {
		margin-left: 50px;
	}

	&__sender {
		margin-top: 22px;
		@include title(h5);
	}

	&__review {
		margin-top: 38px;
		@include text(p2);
    }
    
    &__btn-more {
        margin-top: 45px;
    }
}
.main {

	&__inner {
	}

	&__content {
	}
}

.news {
	margin-top: 120px;

	&__title {
		@include title(h3);
	}

	&__row {
		margin-top: 60px;
		display: flex;
		@include grid-row();
	}

	&__news-card {
		@include grid-width(6);
	}
}
.news-card {

	&__image {
		border-radius: 20px;

		img {
			width: 100%;
		}
	}

	&__date {
		margin-top: 45px;
		@include text(p3);
	}

	&__title {
		margin-top: 10px;
		@include title(h5);
	}

	&__about {
		margin-top: 22px;
		@include text(p2);
	}

	&__btn-view {
		margin-top: 30px;
	}
}
