.blog-page {
    margin-top: 65px;

    &__title {
        @include title(h2);
    }

    &__news {
        display: flex;
        flex-wrap: wrap;
        @include grid-row;
    }

    &__news-card {
        margin-top: 50px;
        @include grid-width(6);
    }

    &__pagination {
        margin-top: 100px;
    }
}