.project-about {
    margin-top: 25px;

    &__label {
        @include text(p3);
        opacity: 0.7;
    }

    &__row {
        margin-top: 18px;
        display: flex;
        justify-content: space-between;
    }

    &__info {
        flex: calc(50% - 10px);
    }

    &__title {
        @include title(h2);
    }

    &__description {
        margin-top: 28px;
        flex: calc(50% - 10px);
        @include text(p1);
    }

    &__statistics {
        flex: calc(50% - 10px);
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    &__cell {
        flex: calc(50% - 10px);
        margin-left: 20px;
        margin-bottom: 20px;
    }

    &__image {
        margin-top: 60px;
        border-radius: 20px;
    }
}

.cell {
    max-width: 219px;
    height: 92px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2fffe;
    border-radius: 10px;

    &__value {
        @include title(h4);
        background: $gradient_main;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__label {
        @include text(p4);
    }
}

.project-aim {
    margin-top: 112px;

    &__row {
        display: flex;
    }

    &__aim {
        flex: 33.33%;
        @include title(h3);
    }

    &__description {
        flex: 66.66%;
    }

    &__title {
        @include title(h5);
    }

    &__about {
        margin-top: 22px;
        @include text(p2);
    }

    &__images {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }

    &__image {
        max-width: 540px;
    }
}

.our-worth {
    margin-top: 150px;

    &__title {
        text-align: center;
        @include title(h3);
    }

    &__cards {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        margin-bottom: 40px;
    }
}

.worth-card {
    position: relative;
    max-width: 540px;
    height: 200px;
    background: #f2fffe;
    border-radius: 20px;

    &__circle {
        position: absolute;
        width: 120px;
        height: 120px;
        background-color: #70cbd4;
        border-radius: 50%;
        left: 20px;
        top: 40px;

        &_bg-yellow {
            background-color: #ffd566;
        }
    }

    &__label {
        margin-left: 56px;
        margin-top: 66px;
        @include text(p1);
    }
}

.about-education {
	margin-top: 120px;
	padding-bottom: 111px;
    background-color: #f2fffe;

    &__algorithm {
        margin-top: 111px;
    }

    &__videos {
		margin-top: 70px;
		display: flex;
		justify-content: space-between;
    }

    &__videobox {
		max-width: 520px;
    }

    &__video {
		cursor: pointer;
    }

    &__label {
		margin-top: 36px;
		@include text(p2);
    }
}
.algorithm-education {
    &__row {
        margin-top: 28px;
        display: flex;
        justify-content: space-between;
    }

    &__title {
        @include title(h3);
    }

    &__stages {
        max-width: 610px;
    }

    &__stage {
        margin-top: 22px;
        padding-left: 36px;

        &:nth-child(1) {
            margin-top: 0px;
        }
    }

    &__divider-top {
		margin-bottom: 36px;
	}
	
	&__divider-bottom {
		margin-top: 36px;
    }
}

.algorithm-stage {

	&__row {
		display: flex;
	}

    &__dot {
		margin-top: 8px;
        width: 20px;
        height: 20px;
        background: $gradient_main;
		border-radius: 50%;
		flex-shrink: 0;
    }

    &__label {
		margin-left: 46px;
		@include text(p2);
		opacity: 0.9;
	}
	
	&__divider {
		margin-top: 36px;
    }
}

.project-authors {
	margin-top: 110px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		@include title(h3);
		text-align: center;
	}

	&__authors {
		margin-top: 40px;
		width: 100%;
		max-width: 1040px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__author {

		img {
			max-width: 150px;
			height: 150px;
			filter: grayscale(100%);
			border-radius: 50%;
		}
	}

	&__active-author {
		width: 700px;
		height: 450px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(../img/about_center_author.png) no-repeat 50% 50% / cover #ffffff;
		background-size: 700px;

		img {
			width: 330px;
			border-radius: 50%;
		}
	}

	&__author-about {
		margin-top: 50px;
		max-width: 500px;
		text-align: center;
	}
}
.author-about {

	&__name {
		@include title(h5);
	}

	&__about {
		margin-top: 12px;
		@include text(p2);
	}
}
