@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active, a:visited {
  color: #252733;
  text-decoration: none;
}

.welcome {
  margin-top: 30px;
}

.welcome__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: calc(-1 * 50px / 2);
  margin-right: calc(-1 * 50px / 2);
}

.welcome__left {
  width: calc(100% / 12 * 6 - 50px);
  margin-left: calc(50px / 2);
  margin-right: calc(50px / 2);
}

.welcome__right {
  width: calc(100% / 12 * 5 - 50px);
  margin-left: calc(50px / 2);
  margin-right: calc(50px / 2);
}

.welcome__icons {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__icon {
  margin-left: 35px;
}

.welcome__icon:nth-child(1) {
  margin-left: 0px;
  width: 25px;
  height: 25px;
}

.welcome__icon:nth-child(2) {
  width: 28px;
  height: 25px;
}

.welcome__icon:nth-child(3) {
  width: 25px;
  height: 20px;
}

.welcome__about {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
  margin-top: 30px;
}

.welcome__image {
  position: relative;
  margin-top: 40px;
}

.welcome__image img {
  width: 100%;
}

.welcome__arrow-in-circle {
  position: absolute;
  top: 82px;
  right: 70px;
}

.welcome-title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 64px;
  line-height: 140%;
  position: relative;
}

.welcome-title__circle {
  position: absolute;
}

.musical-constructor {
  margin-top: 120px;
  padding: 75px 0px;
  background-color: #FFF7E0;
}

.musical-constructor__left-links {
  margin-top: 120px;
}

.musical-constructor__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: calc(-1 * 50px / 2);
  margin-right: calc(-1 * 50px / 2);
}

.musical-constructor__info {
  width: calc(100% / 12 * 5 - 50px);
  margin-left: calc(50px / 2);
  margin-right: calc(50px / 2);
}

.musical-constructor__tag {
  margin: 10px;
}

.musical-constructor__title {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
}

.musical-constructor__title img {
  margin-left: 10px;
}

.musical-constructor__about {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.8;
}

.musical-constructor__tags {
  margin: -10px;
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.musical-constructor__btn-submit {
  margin-top: 55px;
}

.musical-constructor__image {
  border-radius: 20px;
  width: calc(100% / 12 * 5 - 50px);
  margin-left: calc(50px / 2);
  margin-right: calc(50px / 2);
}

.musical-constructor__image img {
  width: 100%;
}

.about-project {
  margin-top: 115px;
}

.about-project__left-links {
  margin-top: 135px;
}

.about-project__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: calc(-1 * 50px / 2);
  margin-right: calc(-1 * 50px / 2);
}

.about-project__left {
  width: calc(100% / 12 * 3 - 50px);
  margin-left: calc(50px / 2);
  margin-right: calc(50px / 2);
}

.about-project__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
}

.about-project__btn-send {
  margin-top: 50px;
}

.about-project__right {
  width: calc(100% / 12 * 8 - 50px);
  margin-left: calc(50px / 2);
  margin-right: calc(50px / 2);
}

.about-project__about1 {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.about-project__about2 {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
}

.about-project__row {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: calc(-1 * 50px / 2);
  margin-right: calc(-1 * 50px / 2);
}

.about-education__left-links {
  margin-top: 235px;
}

.creative-result {
  background-color: #FFF3F9;
  padding: 110px 0px;
}

.creative-result__schema {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creative-result__image {
  position: relative;
}

.creative-result__title {
  position: absolute;
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
  background: linear-gradient(125.47deg, #0032C3 -14.22%, #0077BA 26.9%, #00B1B2 65.53%, #00C8AF 83.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 250px;
  height: 100px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 250px;
  height: 100px;
  margin: auto;
}

.creative-result__label {
  position: absolute;
}

.creative-result-label {
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creative-result-label_n1 {
  margin-left: -650px;
  margin-top: -300px;
}

.creative-result-label_n1 .creative-result-label__dot {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.creative-result-label_n2 {
  margin-left: -810px;
}

.creative-result-label_n2 .creative-result-label__dot {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.creative-result-label_n3 {
  margin-left: -690px;
  margin-top: 300px;
}

.creative-result-label_n3 .creative-result-label__dot {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.creative-result-label_n4 {
  margin-left: 690px;
  margin-top: -300px;
}

.creative-result-label_n4 .creative-result-label__text {
  margin-left: 42px;
}

.creative-result-label_n5 {
  margin-left: 810px;
}

.creative-result-label_n5 .creative-result-label__text {
  margin-left: 42px;
}

.creative-result-label_n6 {
  margin-left: 660px;
  margin-top: 300px;
}

.creative-result-label_n6 .creative-result-label__text {
  margin-left: 42px;
}

.creative-result-label__dot {
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.creative-result-label__text {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
}

.our-telegram {
  margin-top: 100px;
}

.our-telegram .main__left, .our-telegram .main__right {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.our-telegram__icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
}

.our-telegram__icons_left1 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 30px;
}

.our-telegram__icons_left2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.our-telegram__icons_right1 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.our-telegram__icons_right2 {
  margin-top: 190px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.our-telegram__icon {
  width: 30px;
  height: 30px;
  margin: 0 30px;
}

.our-telegram__title {
  margin: 55px 0px;
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  background: linear-gradient(125.47deg, #0032C3 -14.22%, #0077BA 26.9%, #00B1B2 65.53%, #00C8AF 83.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-about {
  margin-top: 25px;
}

.project-about__label {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.8;
  opacity: 0.7;
}

.project-about__row {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-about__info {
  -webkit-box-flex: calc(50% - 10px);
      -ms-flex: calc(50% - 10px);
          flex: calc(50% - 10px);
}

.project-about__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 48px;
  line-height: 140%;
}

.project-about__description {
  margin-top: 28px;
  -webkit-box-flex: calc(50% - 10px);
      -ms-flex: calc(50% - 10px);
          flex: calc(50% - 10px);
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.project-about__statistics {
  -webkit-box-flex: calc(50% - 10px);
      -ms-flex: calc(50% - 10px);
          flex: calc(50% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-about__cell {
  -webkit-box-flex: calc(50% - 10px);
      -ms-flex: calc(50% - 10px);
          flex: calc(50% - 10px);
  margin-left: 20px;
  margin-bottom: 20px;
}

.project-about__image {
  height: 400px;
  margin-top: 60px;
  border-radius: 20px;
  background: url(../img/project_about_image.png) no-repeat 50% 50%/cover;
}

.cell {
  max-width: 219px;
  height: 92px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2fffe;
  border-radius: 10px;
}

.cell__value {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 30px;
  line-height: 140%;
  background: linear-gradient(125.47deg, #0032C3 -14.22%, #0077BA 26.9%, #00B1B2 65.53%, #00C8AF 83.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cell__label {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.9;
}

.project-aim {
  margin-top: 112px;
}

.project-aim__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-aim__aim {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
}

.project-aim__description {
  -webkit-box-flex: 66.66%;
      -ms-flex: 66.66%;
          flex: 66.66%;
}

.project-aim__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.project-aim__about {
  margin-top: 22px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
}

.project-aim__images {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-aim__image {
  max-width: 540px;
  margin-left: 20px;
}

.project-aim__image:nth-child(1) {
  margin-left: 0px;
}

.project-aim__image img {
  max-width: 100%;
}

.our-worth {
  margin-top: 150px;
}

.our-worth__title {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
}

.our-worth__cards {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-worth__card {
  margin-bottom: 40px;
}

.worth-card {
  position: relative;
  max-width: 540px;
  height: 200px;
  background: #f2fffe;
  border-radius: 20px;
}

.worth-card__circle {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #70cbd4;
  border-radius: 50%;
  left: 20px;
  top: 40px;
}

.worth-card:nth-child(2n) .worth-card__circle {
  background-color: #ffd566;
}

.worth-card__label {
  margin-left: 56px;
  margin-top: 66px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.about-education {
  margin-top: 120px;
  padding-bottom: 111px;
  background-color: #f2fffe;
}

.about-education__algorithm {
  margin-top: 111px;
}

.about-education__videos {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-education__videobox {
  max-width: 520px;
}

.about-education__video {
  cursor: pointer;
  margin-left: 20px;
}

.about-education__video:nth-child(1) {
  margin-left: 0px;
}

.about-education__video img {
  max-width: 100%;
}

.about-education__label {
  margin-top: 36px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
}

.algorithm-education__row {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.algorithm-education__mini-title {
  display: none;
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
}

.algorithm-education__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
}

.algorithm-education__stages {
  max-width: 610px;
}

.algorithm-education__stage {
  margin-top: 22px;
  padding-left: 36px;
}

.algorithm-education__stage:nth-child(1) {
  margin-top: 0px;
}

.algorithm-education__divider-top {
  margin-bottom: 36px;
}

.algorithm-education__divider-bottom {
  margin-top: 36px;
}

.algorithm-stage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.algorithm-stage__dot {
  margin-top: 8px;
  width: 20px;
  height: 20px;
  background: linear-gradient(125.47deg, #0032C3 -14.22%, #0077BA 26.9%, #00B1B2 65.53%, #00C8AF 83.95%);
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.algorithm-stage__label {
  margin-left: 46px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
  opacity: 0.9;
}

.algorithm-stage__divider {
  margin-top: 36px;
}

.project-authors-about {
  margin-top: 110px;
}

.project-reviews {
  margin-top: 125px;
  padding: 110px 0;
  background-color: #F2FFFE;
}

.project-reviews__content {
  margin-left: calc(-1 * 50px / 2);
  margin-right: calc(-1 * 50px / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-reviews__left {
  width: calc(100% / 12 * 3 - 50px);
  margin-left: calc(50px / 2);
  margin-right: calc(50px / 2);
}

.project-reviews__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
}

.project-reviews__submit {
  margin-top: 48px;
}

.project-reviews__right {
  width: calc(100% / 12 * 8 - 50px);
  margin-left: calc(50px / 2);
  margin-right: calc(50px / 2);
}

.project-reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-reviews__type {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.8;
}

.project-reviews__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-reviews__btn-right {
  margin-left: 50px;
}

.project-reviews__sender {
  margin-top: 22px;
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.project-reviews__review {
  margin-top: 38px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
}

.project-reviews__btn-more {
  margin-top: 45px;
}

.project-reviews__btn-more a {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-reviews__btn-more img {
  width: 21px;
  height: 21px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: 20px;
}

.news {
  margin-top: 120px;
  margin-bottom: 170px;
}

.news__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
}

.news__row {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(-1 * 50px / 2);
  margin-right: calc(-1 * 50px / 2);
}

.news__news-card {
  width: calc(100% / 12 * 6 - 50px);
  margin-left: calc(50px / 2);
  margin-right: calc(50px / 2);
}

.news-card__image {
  border-radius: 20px;
}

.news-card__image img {
  width: 100%;
}

.news-card__date {
  margin-top: 45px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.8;
}

.news-card__title {
  margin-top: 10px;
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.news-card__about {
  margin-top: 22px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
}

.news-card__btn-view {
  margin-top: 30px;
}

.all-courses {
  margin-top: 65px;
  margin-bottom: 110px;
}

.all-courses__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 48px;
  line-height: 140%;
}

.all-courses__cards {
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course-card {
  margin-bottom: 52px;
  max-width: 520px;
}

.course-card:nth-last-child() {
  margin-bottom: 20px;
}

.course-card__image {
  position: relative;
}

.course-card__image img {
  width: 100%;
}

.course-card__types {
  position: absolute;
  top: 25px;
  left: 25px;
}

.course-card__type {
  margin-left: 20px;
}

.course-card__type:nth-child(1) {
  margin-left: 0px;
}

.course-card__about {
  margin-top: 30px;
}

.course-card__name {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 30px;
  line-height: 140%;
}

.course-card__description {
  margin-top: 22px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.8;
}

.course-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 31px;
}

.course-card__tags {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.course-card__tag {
  margin-right: 15px;
  margin-bottom: 20px;
}

.course-card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.header {
  font-family: "Merriweather", serif;
  white-space: nowrap;
  padding: 0 20px;
}

.header__inner {
  height: 130px;
  max-width: 1770px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 170px;
}

.header__nav {
  margin-left: 10px;
}

.header__contacts {
  margin-left: 10px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.main-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__link {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
  margin-left: 50px;
  opacity: 0.9;
}

.main-nav__link:nth-child(1) {
  margin-left: 0px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__phone {
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
  font-weight: normal;
  opacity: 1;
}

.header-contacts__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 48px;
}

.header-contacts__soc {
  margin-left: 25px;
}

.header-contacts__soc:nth-child(1) {
  margin-left: 0px;
}

.profile-dropdown {
  cursor: pointer;
}

.profile-dropdown__content {
  display: none;
}

.burger-dropdown {
  margin-left: 30px;
  cursor: pointer;
}

.footer {
  margin-top: 70px;
}

.footer__words {
  margin: 0 auto;
  margin-top: 20px;
  height: 130px;
  background: url(../img/content-words.png) no-repeat 50% 50%/cover;
}

.footer__inner {
  margin: 0 auto;
  height: 270px;
  max-width: 1770px;
}

.footer__content {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 30px;
  max-width: 1390px;
  min-height: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__column {
  margin-top: 30px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column_column1 {
  max-width: 260px;
}

.footer__logo {
  max-width: 250px;
}

.footer__regulations {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
}

.footer__rights {
  margin-top: 44px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
}

.footer__link > a {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
  font-size: 16px;
  opacity: 0.9;
  line-height: 200%;
}

.footer__dev {
  margin-top: 41px;
}

.footer__dev > a {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
  opacity: 0.9;
}

.footer-contacts__row {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.9;
}

.footer-contacts__soc-icon {
  margin-left: 20px;
}

.footer-contacts__soc-icon:nth-child(1) {
  margin-left: 0px;
}

.footer-contacts__soc-icon a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts__soc {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
  font-size: 16px;
  opacity: 0.8;
}

.footer-contacts__soc:nth-child(1) {
  margin-left: 0px;
}

.main {
  overflow-x: hidden;
}

.main__inner {
  margin: 0 auto;
  max-width: 1770px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__inner_soc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.main__left {
  width: 100%;
  min-width: 20px;
  max-width: 190px;
  -ms-flex-negative: 20;
      flex-shrink: 20;
}

.main__left_links {
  min-width: 100px;
}

.main__right {
  width: 100%;
  min-width: 20px;
  max-width: 190px;
  -ms-flex-negative: 20;
      flex-shrink: 20;
}

.main__content {
  width: 100%;
  max-width: 1390px;
  height: 100%;
}

.main__left-links {
  margin-top: 375px;
}

.type {
  padding: 3px 20px;
  background: linear-gradient(125.47deg, #0032c3 -14.22%, #0077ba 26.9%, #00b1b2 65.53%, #00c8af 83.95%);
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.9;
  color: #ffffff;
}

.tag {
  padding: 5px 20px;
  white-space: nowrap;
  border: 1px solid #ffd566;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  color: rgba(37, 39, 51, 0.7);
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
  font-size: 16px;
}

.tag_filled {
  color: #252733;
  background: #ffd566;
  border: 1px solid #ffd566;
  opacity: 1;
}

.tag_border-red {
  border-color: #e84941;
}

.tag_border-violet {
  border-color: #bd9bd2;
}

.tag_border-green {
  border-color: #00c8af;
}

.divider {
  height: 1px;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  background: linear-gradient(125.47deg, #0032C3 -14.22%, #0077BA 26.9%, #00B1B2 65.53%, #00C8AF 83.95%);
  opacity: 0.8;
}

.arrow-right object {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.left-links {
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.8;
  opacity: 0.3;
}

.left-links_bold {
  opacity: 0.9;
}

.left-links__soc-links {
  position: absolute;
  width: 20px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transform: rotate(-90deg) translateX(-45px);
          transform: rotate(-90deg) translateX(-45px);
  left: 20px;
}

.left-links__soc-link {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.9;
  margin-left: 20px;
}

.left-links__soc-link:nth-child(1) {
  margin-left: 0px;
}

.videobox {
  margin-left: 20px;
}

.videobox:nth-child(1) {
  margin-left: 0px;
}

.videobox__video {
  cursor: pointer;
}

.videobox__video img {
  max-width: 100%;
}

.videobox__label {
  margin-top: 36px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
}

.project-authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-authors__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
}

.project-authors__authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: calc(-1 * 50px / 2);
  margin-right: calc(-1 * 50px / 2);
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-authors__author {
  width: calc(100% / 12 * 3 - 50px);
  margin-left: calc(50px / 2);
  margin-right: calc(50px / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-authors__author img {
  max-width: 150px;
  height: 150px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-radius: 50%;
}

.project-authors__active-author {
  width: calc(100% / 12 * 6 - 50px);
  margin-left: calc(50px / 2);
  margin-right: calc(50px / 2);
  max-width: 700px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/about_center_author.png) no-repeat 50% 50%/cover;
  background-size: 700px;
}

.project-authors__active-author img {
  width: 330px;
  border-radius: 50%;
}

.project-authors__author-about {
  margin-top: 50px;
  max-width: 500px;
  text-align: center;
}

.author-about__name {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.author-about__about {
  margin-top: 12px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
}

.project-authors-block {
  display: block;
}

.project-authors-block_index {
  margin-top: 140px;
  padding-top: 110px;
  padding-bottom: 120px;
}

.project-authors-block_bg-blue {
  background-color: #F2FFFE;
}

.project-authors-block__left-links {
  margin-top: 220px;
}

@media screen and (max-width: 992px) {
  .header__nav {
    display: none;
  }
  .header__contacts {
    display: none;
  }
  .all-courses__title {
    text-align: center;
  }
  .all-courses__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-worth__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .profile-dropdown {
    margin-left: 10px;
  }
  .footer {
    margin-top: 20px;
  }
  .footer__rights {
    margin-top: 20px;
  }
  .all-courses {
    margin-bottom: 40px;
  }
  .algorithm-education {
    margin-top: 40px;
  }
  .algorithm-education__mini-title {
    display: block;
  }
  .algorithm-education__title {
    display: none;
  }
  .algorithm-education__stage {
    padding-left: 0px;
  }
  .about-education__videos {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-education__videobox {
    margin-left: 0px;
  }
  .videobox {
    margin-top: 35px;
  }
  .videobox:nth-child(1) {
    margin-top: 0px;
  }
  .videobox__label {
    margin-top: 20px;
  }
  .project-aim__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-aim__description {
    margin-top: 30px;
  }
  .project-about__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-about__statistics {
    margin-top: 20px;
    margin-left: -20px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project-about__image {
    height: 320px;
    margin-top: 30px;
  }
  .project-aim {
    margin-top: 45px;
  }
  .project-aim__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-aim__image {
    margin-top: 30px;
    margin-left: 0px;
  }
  .project-aim__image:nth-child(1) {
    margin-top: 0px;
  }
  .our-worth {
    margin-top: 60px;
  }
  .our-worth__cards {
    margin-top: 40px;
  }
  .our-worth__card {
    margin-bottom: 15px;
  }
  .about-education {
    margin-top: 55px;
  }
  .project-authors {
    margin-top: 40px;
  }
  .project-authors__authors {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-authors__active-author {
    width: calc(100% / 12 * 12 - 50px);
    margin-left: calc(50px / 2);
    margin-right: calc(50px / 2);
  }
  .project-authors__author {
    display: none;
  }
  .project-reviews {
    padding: 50px 0px;
  }
  .project-reviews__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-reviews__left {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project-reviews__row {
    margin-top: 30px;
  }
  .project-reviews__btns_main {
    display: none;
  }
  .project-reviews__sender {
    margin-top: 10px;
  }
  .project-reviews__review {
    margin-top: 16px;
  }
  .project-reviews__submit {
    margin-top: 5px;
  }
  .project-reviews__right {
    width: 100%;
    margin: 0px;
  }
  .project-reviews__btn-more {
    margin-top: 28px;
  }
  .project-reviews__btns_mini {
    margin-top: 40px;
  }
  .news {
    margin-top: 55px;
    margin-bottom: 80px;
  }
  .news__row {
    margin-top: 40px;
  }
  .news__news-card {
    width: 100%;
    display: none;
  }
  .news__news-card:nth-child(1) {
    display: block;
  }
  .algorithm-stage__label {
    margin-left: 20px;
  }
}

@media screen and (max-width: 480px) {
  .project-about__statistics {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .worth-card__label {
    font-family: "Montserrat", sans-serif;
    color: #252733;
    font-size: 18px;
    line-height: 160%;
    opacity: 0.9;
  }
}
/*# sourceMappingURL=main.css.map */