@import "settings.scss";
@import "reset.scss";
@import "mixins.scss";

@import "index.scss";
@import "about.scss";
@import "catalog.scss";

//header
.header {
    font-family: $font_main;
    white-space: nowrap;
    padding: 0 20px;

    &__inner {
        height: 130px;
        max-width: $page_inner_width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        max-width: 170px;
    }

    &__nav {
        margin-left: 10px;
    }

    &__contacts {
        margin-left: 10px;
    }

    &__menu {
        display: flex;
        margin-left: 10px;
    }
}
.logo {
}
.main-nav {
    &__links {
        display: flex;
    }

    &__link {
        @include text(p2);
        margin-left: 50px;
        opacity: 0.9;

        &:nth-child(1) {
            margin-left: 0px;
        }
    }
}
.header-contacts {
    display: flex;

    &__phone {
        opacity: 1;
        @include text(p2);
        font-weight: normal;
        opacity: 1;
    }

    &__soc-list {
        display: flex;
        align-items: center;
        margin-left: 48px;
    }

    &__soc {
        margin-left: 25px;

        &:nth-child(1) {
            margin-left: 0px;
        }
    }
}

.burger-dropdown {
    cursor: pointer;
}

.profile-dropdown {
    cursor: pointer;

    margin-left: 46px;

    &__icon {
    }

    &__content {
        display: none;
    }

    &__link {
    }
}

//footer
.footer {

    &__words {
        margin: 0 auto;
        margin-top: 20px;
        height: 130px;
        background: url(../img/content-words.png) no-repeat 50% 50% / cover;
    }

    &__inner {
        margin: 0 auto;
        margin-top: 70px;
        height: 270px;
        max-width: $page_inner_width;
    }

    &__content {
        margin: 0 auto;
        padding: 0 20px;
        padding-top: 10px;
        padding-bottom: 30px;
        max-width: $page_content_width;
        min-height: 270px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__column {
        margin-top: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__column_column1 {
        max-width: 260px;
    }

    &__logo {
        max-width: 250px;
    }

    &__regulations {
        margin-top: 25px;
        @include text(p5);
    }

    &__column_column2 {
    }

    &__contacts {
    }

    &__rights {
        margin-top: 44px;
        @include text(p5);
    }

    &__column_column3 {
    }

    &__link {
        & > a {
            @include text(p5);
            font-size: 16px;
            opacity: 0.9;
            line-height: 200%;
        }
    }

    &__column_column4 {
    }

    &__links {
    }

    &__dev {
        margin-top: 41px;

        & > a {
            @include text(p5);
            opacity: 0.9;
        }
    }
}

.footer-contacts {
    &__row {
        margin-top: 14px;
        display: flex;
        @include text(p4);
    }

    &__phone {
    }

    &__soc-icon {
        margin-left: 20px;

        &:nth-child(1) {
            margin-left: 0px;
        }

        a {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__soc {
        margin-left: 20px;
        @include text(p5);
        font-size: 16px;
        opacity: 0.8;

        &:nth-child(1) {
            margin-left: 0px;
        }
    }
}

.main {
    &__inner {
        margin: 0 auto;
        max-width: $page_inner_width;
        display: flex;
        justify-content: center;

        &_soc-links {
            display: flex;
            justify-content: flex-start;
        }
    }

    &__left {
        width: 100%;
        min-width: 20px;
        max-width: 190px;
        flex-shrink: 20;

        &_links {
            min-width: 100px;
        }
    }

    &__right {
        width: 100%;
        min-width: 20px;
        max-width: 190px;
        flex-shrink: 20;
    }

    &__content {
        width: 100%;
        max-width: $page_content_width;
        height: 100%;
    }

    &__left-links {
        margin-top: 375px;
    }
}

.type {
    padding: 3px 20px;
    background: linear-gradient(125.47deg, #0032C3 -14.22%, #0077BA 26.9%, #00B1B2 65.53%, #00C8AF 83.95%);
    border-radius: 20px;
    @include text(p4);
    color: #FFFFFF;
}

.tag {
    padding: 5px 20px;
    white-space: nowrap;
    border: 1px solid #ffd566;
    box-sizing: border-box;
    border-radius: 20px;
    color: rgba(37, 39, 51, 0.7);
    @include text(p5);
    font-size: 16px;

    &_filled {
        color: $color_text_black;
        background: #ffd566;
        border: 1px solid #ffd566;
        opacity: 1;
    }

    &_border-red {
        border-color: #E84941;
    }

    &_border-violet {
        border-color: #BD9BD2;
    }

    &_border-green {
        border-color: #00C8AF;
    }
}

.divider {
    height: 1px;
    transform: scaleY(0.5);
    background: $gradient_main;
    opacity: 0.8;
}

.btn-submit {
}
.arrow-left {
}
.arrow-right {
	object {
		transform: rotate(180deg);
	}
}

.left-links {
    position: relative;
    @include text(p3);
    opacity: 0.3;

    &_bold {
        opacity: 0.9;
    }

    &__soc-links {
        position: absolute;
        width: 20px;
        height: 30px;
        display: flex;
        align-items: flex-start;
        transform: rotate(-90deg) translateX(-45px);
        left: 20px;
    }

    &__soc-link {
        @include text(p4);
        margin-left: 20px;

        &:nth-child(1) {
            margin-left: 0px;
        }
    }
}

.videobox {

	&__video {
        cursor: pointer;
	}

	&__label {
        margin-top: 36px;
		@include text(p2);
	}
}

.project-authors {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		@include title(h3);
		text-align: center;
	}

	&__authors {
		margin-top: 40px;
		width: 100%;
		max-width: 1040px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__author {

		img {
			max-width: 150px;
			height: 150px;
			filter: grayscale(100%);
			border-radius: 50%;
		}
	}

	&__active-author {
		width: 700px;
		height: 450px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(../img/about_center_author.png) no-repeat 50% 50% / cover;
		background-size: 700px;

		img {
			width: 330px;
			border-radius: 50%;
		}
	}

	&__author-about {
		margin-top: 50px;
		max-width: 500px;
		text-align: center;
	}
}
.author-about {

	&__name {
		@include title(h5);
	}

	&__about {
		margin-top: 12px;
		@include text(p2);
	}
}

@media screen and (max-width: 992px) {
    .header {
        &__nav {
            display: none;
        }

        &__contacts {
            display: none;
        }
    }

    .all-courses {
        &__title {
            text-align: center;
        }

        &__cards {
            justify-content: center;
        }
    }
}

@media screen and (max-width: 576px) {
    .profile-dropdown {
        margin-left: 10px;
    }

    .footer {
        &__rights {
            margin-top: 20px;
        }
    }
}