@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active, a:visited {
  color: #252733;
  text-decoration: none;
}

.project-about {
  margin-top: 25px;
}

.project-about__label {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.8;
  opacity: 0.7;
}

.project-about__row {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-about__info {
  -webkit-box-flex: calc(50% - 10px);
      -ms-flex: calc(50% - 10px);
          flex: calc(50% - 10px);
}

.project-about__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 48px;
  line-height: 140%;
}

.project-about__description {
  margin-top: 28px;
  -webkit-box-flex: calc(50% - 10px);
      -ms-flex: calc(50% - 10px);
          flex: calc(50% - 10px);
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.project-about__statistics {
  -webkit-box-flex: calc(50% - 10px);
      -ms-flex: calc(50% - 10px);
          flex: calc(50% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-about__cell {
  -webkit-box-flex: calc(50% - 10px);
      -ms-flex: calc(50% - 10px);
          flex: calc(50% - 10px);
  margin-left: 20px;
  margin-bottom: 20px;
}

.project-about__image {
  margin-top: 60px;
  border-radius: 20px;
}

.cell {
  max-width: 219px;
  height: 92px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2fffe;
  border-radius: 10px;
}

.cell__value {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 30px;
  line-height: 140%;
  background: linear-gradient(125.47deg, #0032C3 -14.22%, #0077BA 26.9%, #00B1B2 65.53%, #00C8AF 83.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cell__label {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.9;
}

.project-aim {
  margin-top: 112px;
}

.project-aim__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-aim__aim {
  -webkit-box-flex: 33.33%;
      -ms-flex: 33.33%;
          flex: 33.33%;
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
}

.project-aim__description {
  -webkit-box-flex: 66.66%;
      -ms-flex: 66.66%;
          flex: 66.66%;
}

.project-aim__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.project-aim__about {
  margin-top: 22px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
}

.project-aim__images {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-aim__image {
  max-width: 540px;
}

.our-worth {
  margin-top: 150px;
}

.our-worth__title {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
}

.our-worth__cards {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-worth__card {
  margin-bottom: 40px;
}

.worth-card {
  position: relative;
  max-width: 540px;
  height: 200px;
  background: #f2fffe;
  border-radius: 20px;
}

.worth-card__circle {
  position: absolute;
  width: 120px;
  height: 120px;
  background-color: #70cbd4;
  border-radius: 50%;
  left: 20px;
  top: 40px;
}

.worth-card__circle_bg-yellow {
  background-color: #ffd566;
}

.worth-card__label {
  margin-left: 56px;
  margin-top: 66px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.about-education {
  margin-top: 120px;
  padding-bottom: 111px;
  background-color: #f2fffe;
}

.about-education__algorithm {
  margin-top: 111px;
}

.about-education__videos {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-education__videobox {
  max-width: 520px;
}

.about-education__video {
  cursor: pointer;
}

.about-education__label {
  margin-top: 36px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
}

.algorithm-education__row {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.algorithm-education__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
}

.algorithm-education__stages {
  max-width: 610px;
}

.algorithm-education__stage {
  margin-top: 22px;
  padding-left: 36px;
}

.algorithm-education__stage:nth-child(1) {
  margin-top: 0px;
}

.algorithm-education__divider-top {
  margin-bottom: 36px;
}

.algorithm-education__divider-bottom {
  margin-top: 36px;
}

.algorithm-stage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.algorithm-stage__dot {
  margin-top: 8px;
  width: 20px;
  height: 20px;
  background: linear-gradient(125.47deg, #0032C3 -14.22%, #0077BA 26.9%, #00B1B2 65.53%, #00C8AF 83.95%);
  border-radius: 50%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.algorithm-stage__label {
  margin-left: 46px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
  opacity: 0.9;
}

.algorithm-stage__divider {
  margin-top: 36px;
}

.project-authors {
  margin-top: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-authors__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
}

.project-authors__authors {
  margin-top: 40px;
  width: 100%;
  max-width: 1040px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-authors__author img {
  max-width: 150px;
  height: 150px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-radius: 50%;
}

.project-authors__active-author {
  width: 700px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/about_center_author.png) no-repeat 50% 50%/cover #ffffff;
  background-size: 700px;
}

.project-authors__active-author img {
  width: 330px;
  border-radius: 50%;
}

.project-authors__author-about {
  margin-top: 50px;
  max-width: 500px;
  text-align: center;
}

.author-about__name {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.9;
}

.author-about__about {
  margin-top: 12px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
}

.all-courses {
  margin-top: 65px;
  margin-bottom: 110px;
}

.all-courses__title {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 48px;
  line-height: 140%;
}

.all-courses__cards {
  margin-top: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.course-card {
  margin-bottom: 52px;
  max-width: 520px;
}

.course-card__image {
  position: relative;
}

.course-card__types {
  position: absolute;
  top: 25px;
  left: 25px;
}

.course-card__type {
  margin-left: 20px;
}

.course-card__type:nth-child(1) {
  margin-left: 0px;
}

.course-card__about {
  margin-top: 30px;
}

.course-card__name {
  font-family: "Merriweather", serif;
  color: #252733;
  font-size: 30px;
  line-height: 140%;
}

.course-card__description {
  margin-top: 22px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.8;
}

.course-card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 31px;
}

.course-card__tags {
  max-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.course-card__tag {
  margin-right: 15px;
  margin-bottom: 20px;
}

.course-card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 20px;
}

.header {
  font-family: "Merriweather", serif;
  white-space: nowrap;
}

.header__inner {
  height: 130px;
  max-width: 1345px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 170px;
}

.header__nav {
  margin-left: 10px;
}

.header__contacts {
  margin-left: 10px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.main-nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__link {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
  margin-left: 50px;
  opacity: 0.9;
}

.main-nav__link:nth-child(1) {
  margin-left: 0px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__phone {
  opacity: 1;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 21px;
  line-height: 160%;
  opacity: 0.8;
  font-weight: normal;
  opacity: 1;
}

.header-contacts__soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 48px;
}

.header-contacts__soc {
  margin-left: 25px;
}

.header-contacts__soc:nth-child(1) {
  margin-left: 0px;
}

.burger-dropdown {
  cursor: pointer;
}

.profile-dropdown {
  cursor: pointer;
  margin-left: 46px;
}

.profile-dropdown__content {
  display: none;
}

.footer__words {
  margin-top: 20px;
}

.footer__words img {
  width: 100%;
  height: 130px;
}

.footer__inner {
  margin: 0 auto;
  margin-top: 70px;
  height: 270px;
  max-width: 1330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content {
  width: 100%;
  max-width: 1160px;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column_column1 {
  max-width: 260px;
}

.footer__logo {
  max-width: 250px;
}

.footer__regulations {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
}

.footer__rights {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
}

.footer__link > a {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
  font-size: 16px;
  opacity: 0.9;
  line-height: 200%;
}

.footer__dev > a {
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
  opacity: 0.9;
}

.footer-contacts__row {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.9;
}

.footer-contacts__soc-icon {
  margin-left: 20px;
}

.footer-contacts__soc-icon:nth-child(1) {
  margin-left: 0px;
}

.footer-contacts__soc-icon a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts__soc {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
  font-size: 16px;
  opacity: 0.8;
}

.footer-contacts__soc:nth-child(1) {
  margin-left: 0px;
}

.main__inner {
  margin: 0 auto;
  max-width: 1330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content {
  width: 100%;
  max-width: 1160px;
  height: 100%;
}

.type {
  padding: 3px 20px;
  background: linear-gradient(125.47deg, #0032C3 -14.22%, #0077BA 26.9%, #00B1B2 65.53%, #00C8AF 83.95%);
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.9;
  color: #FFFFFF;
}

.tag {
  padding: 5px 20px;
  white-space: nowrap;
  border: 1px solid #ffd566;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  color: rgba(37, 39, 51, 0.7);
  font-family: "Montserrat", sans-serif;
  color: #252733;
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  opacity: 0.7;
  font-size: 16px;
  opacity: 1;
}

.tag_filled {
  color: #252733;
  background: #ffd566;
  border: 1px solid #ffd566;
}

.tag_border-red {
  border-color: #E84941;
}

.tag_border-violet {
  border-color: #BD9BD2;
}

.tag_border-green {
  border-color: #00C8AF;
}

.divider {
  height: 1px;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
  background: linear-gradient(125.47deg, #0032C3 -14.22%, #0077BA 26.9%, #00B1B2 65.53%, #00C8AF 83.95%);
  opacity: 0.8;
}
/*# sourceMappingURL=main.css.map */