@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Сетка
$grid_columns_num: 12;
$grid_column_width: 70px;
$grid_column_margin: 50px;

//Вн. размер main
$page_inner_width: 1770px;
//Размер контента
$page_content_width: 1390px;

//Шрифт
$font_main: 'Merriweather', serif;
$font_second: 'Montserrat', sans-serif;

//Цвет
//Фоновые цвета
$color_bg_blue: #F2FFFE;
$color_bg_pink: #FFF3F9;
$color_bg_cream: #FFF7E0;

//Текст и элементы
$color_text_black: #252733;

//Доп. цвета
$color_other_yellow: #FFD566;
$color_other_blue: #70CBD4;

//Градиенты
$gradient_main: linear-gradient(125.47deg, #0032C3 -14.22%, #0077BA 26.9%, #00B1B2 65.53%, #00C8AF 83.95%);