title = "О проекте"
url = "/about"
layout = "main"
is_hidden = 0

[builderList news]
modelClass = "Hima\News\Models\News"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "Новости не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList reviews]
modelClass = "Hima\Review\Models\Reviews"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "review_text"
noRecordsMessage = "Отзывы не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[contenteditor]
==
{##}
<div class="main__inner">
    <div class="main__left"></div>
    <div class="main__content">
        <div class="project-about">
            {% component 'contenteditor' file="about/project-about__label.htm"
					fixture="div" class="project-about__label" %}
            <div class="project-about__row">
                <div class="project-about__info">
                    {% component 'contenteditor' file="about/project-about__title.htm"
                            fixture="div" class="project-about__title" %}
                    {% component 'contenteditor' file="about/project-about__description.htm"
					fixture="div" class="project-about__description" %}
                </div>
                <div class="project-about__statistics">
                    {% for cell in this.theme.about_statistics_blocks %}
                    <div class="project-about__cell cell">
                        <div class="cell__value">{{ cell.value }}</div>
                        <div class="cell__label">{{ cell.text }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="project-about__image"></div>
        </div>
        <div class="project-aim">
            <div class="project-aim__row">
                {% component 'contenteditor' file="about/project-aim__aim.htm"
					fixture="div" class="project-aim__aim" %}
                <div class="project-aim__description">
                    {% component 'contenteditor' file="about/project-aim__title.htm"
					fixture="div" class="project-aim__title" %}
                    {% component 'contenteditor' file="about/project-aim__about.htm"
					fixture="div" class="project-aim__about" %}
                </div>
            </div>
            <div class="project-aim__images">
                <div class="project-aim__image">
                    <img
                        src="{{ 'assets/images/project_aim1.png'|theme }}"
                        alt="Цель"
                    />
                </div>
                <div class="project-aim__image">
                    <img
                        src="{{ 'assets/images/project_aim2.png'|theme }}"
                        alt="Цель"
                    />
                </div>
            </div>
            <div class="our-worth">
                <div class="our-worth__title">Наши ценности</div>
                <div class="our-worth__cards">
                    {% for our_worth in this.theme.our_worths %}
                    <div class="our-worth__card worth-card">
                        <div class="worth-card__circle"></div>
                        <div class="worth-card__label">
                            {{ our_worth.about }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="main__right"></div>
</div>
<div class="about-education about-education-about">
    <div class="main__inner">
        <div class="main__left"></div>
        <div class="main__content">
            <div class="about-education__algorithm algorithm-education">
                <div class="algorithm-education__mini-title">
                    Как проходит обучение
                </div>
                <div class="algorithm-education__divider-top divider"></div>
                <div class="algorithm-education__row">
                    <div class="algorithm-education__title">
                        Как проходит<br />обучение
                    </div>
                    <div class="algorithm-education__stages">
                        {% for algorithm_stage in this.theme.algorithm_stages %}
                        <div class="algorithm-education__stage algorithm-stage">
                            <div class="algorithm-stage__row">
                                <div class="algorithm-stage__dot dot"></div>
                                <div class="algorithm-stage__label">
                                    {{ algorithm_stage.about }}
                                </div>
                            </div>
                            {% if loop.last != true %}
                            <div class="algorithm-stage__divider divider"></div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="algorithm-education__divider-bottom divider"></div>
            </div>
            <div class="about-education__videos">
                <div class="about-education__videobox videobox">
                    <img
                        class="videobox__video"
                        src="{{ this.theme.about_video1|media }}"
                        alt="{{ this.theme.about_video_label1 }}"
                    />
                    <div class="videobox__label">{{ this.theme.about_video_label1 }}</div>
                </div>
                <div class="about-education__videobox videobox">
                    <img
                        class="videobox__video"
                        src="{{ this.theme.about_video2|media }}"
                        alt="{{ this.theme.about_video_label2 }}"
                    />
                    <div class="videobox__label">{{ this.theme.about_video_label2 }}</div>
                </div>
            </div>
        </div>
        <div class="main__right"></div>
    </div>
</div>
{% partial 'blocks/project_authors' classes_in_content='project-authors-about' %}
<div class="project-reviews">
    <div class="main__inner">
        <div class="main__left"></div>
        <div class="main__content project-reviews__content">
            <div class="project-reviews__left">
                <div class="project-reviews__title">
                    Отзывы <br />
                    о проекте
                </div>
                <div class="project-reviews__submit">
                    {% partial 'blocks/btn_submit_link' link='/reviews' %}
                </div>
            </div>
            <div class="project-reviews__right">
                <div class="glide project-review">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            {% for review in reviews.records %}
                            <li class="glide__slide project-reviews__slide">
                                <div class="project-reviews__row">
                                    <div class="project-reviews__type">{{ review.course_type }}</div>
                                    <div
                                        class="project-reviews__btns project-reviews__btns_main arrows-pagination"
                                    >
                                        <div class="project-reviews__btn-left arrow-left">
                                            <object
                                                data="{{ 'assets/images/btn-arrow.svg'|theme }}"
                                                type="image/svg+xml"
                                            ></object>
                                        </div>
                                        <div class="project-reviews__btn-right arrow-right">
                                            <object
                                                data="{{ 'assets/images/btn-arrow.svg'|theme }}"
                                                type="image/svg+xml"
                                            ></object>
                                        </div>
                                    </div>
                                </div>
                                <div class="project-reviews__sender">
                                    {{ review.owner_name }}, {{ review.owner_city }}
                                </div>
                                <div class="project-reviews__review text-limited">
                                    {{ review.review_text }}
                                </div>
                                <div class="project-reviews__btn-more btn-text-limited">
                                    <a href="#"
                                        >Подробнее
                                        <img
                                            src="{{ 'assets/images/icons/plus.png'|theme }}"
                                            alt="Подробнее"
                                    /></a>
                                </div>
                                <div
                                    class="project-reviews__btns project-reviews__btns_mini arrows-pagination"
                                >
                                    <div class="project-reviews__btn-left arrow-left">
                                        <object
                                            data="{{ 'assets/images/btn-arrow.svg'|theme }}"
                                            type="image/svg+xml"
                                        ></object>
                                    </div>
                                    <div class="project-reviews__btn-right arrow-right">
                                        <object
                                            data="{{ 'assets/images/btn-arrow.svg'|theme }}"
                                            type="image/svg+xml"
                                        ></object>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__right"></div>
    </div>
</div>
<div class="main__inner">
    <div class="main__left"></div>
    <div class="main__content">
        <div class="news">
            <div class="news__title">Новости</div>
            <div class="news__row">
                {% for one_news in news.records %}
                    {% if one_news.mini %}
                    <div class="news__news-card news-card">
                        <div class="news-card__image">
                            <img
                                src="{{ one_news.attachment.path }}"
                                alt="{{ one_news.title }}"
                            />
                        </div>
                        <div class="news-card__date">{{ one_news.created_at|date("d.m.Y") }}</div>
                        <div class="news-card__title">{{ one_news.title }}</div>
                        <div class="news-card__about">
                            {{ one_news.about }}
                        </div>
                        <div class="news-card__btn-view">
                            {% set link = "/news/" ~ one_news.id %}
                            {% partial 'blocks/btn_submit_link' link=link %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="main__right"></div>
</div>