title = "О проекте"
url = "/about"
layout = "main"
is_hidden = 0

[builderList news]
modelClass = "Hima\News\Models\News"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "Новости не найдены"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{##}
<div class="main__inner">
    <div class="main__left"></div>
    <div class="main__content">
        <div class="project-about">
            <div class="project-about__label">о проекте</div>
            <div class="project-about__row">
                <div class="project-about__info">
                    <div class="project-about__title">Мир рядом</div>
                    <div class="project-about__description">
                        Развлекательно-образовательный проект. Помогаем раскрыть
                        окружающий мир через творчество
                    </div>
                </div>
                <div class="project-about__statistics">
                    <div class="project-about__cell cell">
                        <div class="cell__value">5</div>
                        <div class="cell__label">направлений</div>
                    </div>
                    <div class="project-about__cell cell">
                        <div class="cell__value">10</div>
                        <div class="cell__label">лет опыта</div>
                    </div>
                    <div class="project-about__cell cell">
                        <div class="cell__value">200+</div>
                        <div class="cell__label">видео</div>
                    </div>
                    <div class="project-about__cell cell">
                        <div class="cell__value">100+</div>
                        <div class="cell__label">студентов</div>
                    </div>
                </div>
            </div>
            <div class="project-about__image"></div>
        </div>
        <div class="project-aim">
            <div class="project-aim__row">
                <div class="project-aim__aim">Наша цель</div>
                <div class="project-aim__description">
                    <div class="project-aim__title">
                        Заниматься творчеством может каждый. Стань музыкантом,
                        режиссерром, фотографом. Добавь в каждую работу частицу
                        себя.
                    </div>
                    <div class="project-aim__about">
                        Проведи время креативно и необычно на нашем
                        развлекательно - образовательном проекте “Мир рядом”
                        Проведи время креативно и необычно на нашем
                        развлекательно - образовательном проекте “Мир рядом”.
                        Проведи время креативно и необычно на нашем
                        развлекательно - образовательном проекте “Мир рядом”
                    </div>
                </div>
            </div>
            <div class="project-aim__images">
                <div class="project-aim__image">
                    <img
                        src="{{ 'assets/images/project_aim1.png'|theme }}"
                        alt="Цель"
                    />
                </div>
                <div class="project-aim__image">
                    <img
                        src="{{ 'assets/images/project_aim2.png'|theme }}"
                        alt="Цель"
                    />
                </div>
            </div>
            <div class="our-worth">
                <div class="our-worth__title">Наши ценности</div>
                <div class="our-worth__cards">
                    {% for our_worth in this.theme.our_worths %}
                    <div class="our-worth__card worth-card">
                        <div class="worth-card__circle"></div>
                        <div class="worth-card__label">
                            {{ our_worth.about }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="main__right"></div>
</div>
<div class="about-education">
    <div class="main__inner">
        <div class="main__left"></div>
        <div class="main__content">
            <div class="about-education__algorithm algorithm-education">
                <div class="algorithm-education__mini-title">
                    Как проходит обучение
                </div>
                <div class="algorithm-education__divider-top divider"></div>
                <div class="algorithm-education__row">
                    <div class="algorithm-education__title">
                        Как проходит<br />обучение
                    </div>
                    <div class="algorithm-education__stages">
                        {% for algorithm_stage in this.theme.algorithm_stages %}
                        <div class="algorithm-education__stage algorithm-stage">
                            <div class="algorithm-stage__row">
                                <div class="algorithm-stage__dot dot"></div>
                                <div class="algorithm-stage__label">
                                    {{ algorithm_stage.about }}
                                </div>
                            </div>
                            {% if loop.last != true %}
                            <div class="algorithm-stage__divider divider"></div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="algorithm-education__divider-bottom divider"></div>
            </div>
            <div class="about-education__videos">
                <div class="about-education__videobox videobox">
                    <img
                        class="videobox__video"
                        src="{{ 'assets/images/about_video1.png'|theme }}"
                        alt="Видео 1"
                    />
                    <div class="videobox__label">Видео о нашем проекте</div>
                </div>
                <div class="about-education__videobox videobox">
                    <img
                        class="videobox__video"
                        src="{{ 'assets/images/about_video2.png'|theme }}"
                        alt="Видео 2"
                    />
                    <div class="videobox__label">
                        Создаем трек в стиле эмбиент
                    </div>
                </div>
            </div>
        </div>
        <div class="main__right"></div>
    </div>
</div>
<div class="project-authors-block">
    <div class="main__inner">
        <div class="main__left"></div>
        <div class="main__content">
            <div class="project-authors-about project-authors">
                <div class="project-authors__title">Авторы курсов</div>
                <div class="project-authors__authors">
                    <div class="project-authors__author">
                        <img
                            src="{{ 'assets/images/about_author.png'|theme }}"
                            alt="Автор"
                        />
                    </div>
                    <div class="project-authors__active-author">
                        <img
                            src="{{ 'assets/images/about_author.png'|theme }}"
                            alt="Автор"
                        />
                    </div>
                    <div class="project-authors__author">
                        <img
                            src="{{ 'assets/images/about_author.png'|theme }}"
                            alt="Автор"
                        />
                    </div>
                </div>
                <div class="project-authors__author-about author-about">
                    <div class="author-about__name">Александ Караваев</div>
                    <div class="author-about__about">
                        Проведи время креативно и необычно на нашем
                        развлекательно - образовательном проекте “Мир рядом”.
                    </div>
                </div>
            </div>
        </div>
        <div class="main__right"></div>
    </div>
</div>
<div class="project-reviews">
    <div class="main__inner">
        <div class="main__left"></div>
        <div class="main__content project-reviews__content">
            <div class="project-reviews__left">
                <div class="project-reviews__title">
                    Отзывы <br />
                    о проекте
                </div>
                <div class="project-reviews__submit btn-submit">
                    <object
                        data="{{ 'assets/images/btn-submit.svg'|theme }}"
                        type="image/svg+xml"
                    ></object>
                </div>
            </div>
            <div class="project-reviews__right">
                <div class="project-reviews__row">
                    <div class="project-reviews__type">музыка</div>
                    <div
                        class="project-reviews__btns project-reviews__btns_main arrows-pagination"
                    >
                        <div class="project-reviews__btn-left arrow-left">
                            <object
                                data="{{ 'assets/images/btn-arrow.svg'|theme }}"
                                type="image/svg+xml"
                            ></object>
                        </div>
                        <div class="project-reviews__btn-right arrow-right">
                            <object
                                data="{{ 'assets/images/btn-arrow.svg'|theme }}"
                                type="image/svg+xml"
                            ></object>
                        </div>
                    </div>
                </div>
                <div class="project-reviews__sender">
                    Александра, Нижний Новгород
                </div>
                <div class="project-reviews__review">
                    «Проведи время креативно и необычно на нашем развлекательно
                    - образовательном проекте “Мир рядом” Проведи время
                    креативно и необычно на нашем развлекательно -
                    образовательном проекте “Мир рядом”. Проведи время креативно
                    и необычно на нашем развлекательно - образовательном проекте
                    “Мир рядом”...»
                </div>
                <div class="project-reviews__btn-more">
                    <a href="#"
                        >Подробнее
                        <img
                            src="{{ 'assets/images/icons/plus.png'|theme }}"
                            alt="Подробнее"
                    /></a>
                </div>
                <div
                    class="project-reviews__btns project-reviews__btns_mini arrows-pagination"
                >
                    <div class="project-reviews__btn-left arrow-left">
                        <object
                            data="{{ 'assets/images/btn-arrow.svg'|theme }}"
                            type="image/svg+xml"
                        ></object>
                    </div>
                    <div class="project-reviews__btn-right arrow-right">
                        <object
                            data="{{ 'assets/images/btn-arrow.svg'|theme }}"
                            type="image/svg+xml"
                        ></object>
                    </div>
                </div>
            </div>
        </div>
        <div class="main__right"></div>
    </div>
</div>
<div class="main__inner">
    <div class="main__left"></div>
    <div class="main__content">
        <div class="news">
            <div class="news__title">Новости</div>
            <div class="news__row">
                {% for one_news in news.records %}
                    {% if one_news.mini %}
                    <div class="news__news-card news-card">
                        <div class="news-card__image">
                            <img
                                src="{{ one_news.attachment.path }}"
                                alt="{{ one_news.title }}"
                            />
                        </div>
                        <div class="news-card__date">{{ one_news.created_at|date("d.m.Y") }}</div>
                        <div class="news-card__title">{{ one_news.title }}</div>
                        <div class="news-card__about">
                            {{ one_news.about }}
                        </div>
                        <div class="news-card__btn-view btn-submit">
                            <object
                                data="{{ 'assets/images/btn-submit.svg'|theme }}"
                                type="image/svg+xml"
                            ></object>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="main__right"></div>
</div>