.welcome {
    margin-top: 30px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include grid-row();
    }

    &__left {
        @include grid-width(6);
    }

    &__right {
        @include grid-width(5);
    }

    &__icons {
        margin-top: 35px;
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-left: 35px;

        &:nth-child(1) {
            margin-left: 0px;
            width: 25px;
            height: 25px;
        }

        &:nth-child(2) {
            width: 28px;
            height: 25px;
        }

        &:nth-child(3) {
            width: 25px;
            height: 20px;
        }
    }

    &__about {
        @include text(p1);
        margin-top: 30px;
    }

    &__image {
        position: relative;
        margin-top: 40px;
        height: 400px;
        background: url(../images/index_welcome.png) no-repeat 50% 50% / cover;
        border-radius: 20px;
    }

    &__arrow-in-circle {
        position: absolute;
        top: 82px;
        right: 70px;
    }
}

.welcome-title {
    @include title(h1);
    position: relative;

    &__circle {
        position: absolute;
    }
}

.musical-constructor {
    margin-top: 120px;
    padding: 75px 0px;
    background-color: $color_bg_cream;

    &__left-links {
        margin-top: 120px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include grid-row();
    }

    &__info {
        @include grid-width(5);
    }

    &__tag {
        margin: 10px;
    }

    &__title {
        margin-top: 24px;
        display: flex;
        align-items: center;
        @include title(h3);

        img {
            margin-left: 10px;
        }
    }

    &__about {
        margin-top: 25px;
        @include text(p3);
    }

    &__tags {
        margin: -10px;
        margin-top: 18px;
        display: flex;
        flex-wrap: wrap;
    }

    &__btn-submit {
        margin-top: 55px;
    }

    &__image {
        border-radius: 20px;
        @include grid-width(6);

        img {
            max-width: 100%;
        }
    }
}

.about-project {
    margin-top: 115px;

    &__left-links {
        margin-top: 135px;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include grid-row();
    }

    &__left {
        @include grid-width(3);
    }

    &__title {
        @include title(h3);
    }

    &__btn-send {
        margin-top: 50px;
    }

    &__right {
        @include grid-width(8);
    }

    &__about1 {
        @include text(p1);
    }

    &__about2 {
        margin-top: 50px;
        @include text(p2);
    }

    &__row {
        margin-top: 85px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include grid-row();
    }

    &__videobox {
        @include grid-width(6);
    }
}

.about-education {
    &__left-links {
        margin-top: 235px;
    }
}

.creative-result {
    background-color: $color_bg_pink;
    padding-bottom: 110px;

    &__schema {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image {
        position: relative;
        display: flex;
        justify-content: center;

        object {
            max-width: 140%;
        }
    }

    &__title {
        position: absolute;
        @include title(h3);
        background: $gradient_main;
        -webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		width: 250px;
		height: 100px;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 250px;
        height: 100px;
        margin: auto;
    }

    &__label {
        position: absolute;
    }

    &__mini-labels {
        display: none;
        position: relative;
        flex-wrap: wrap;
        justify-content: space-between;
        @include grid-row();
        margin-top: -10px;
    }
}

.creative-result-label {
    max-width: 350px;
    display: flex;
    justify-content: space-between;
	align-items: center;
	
	&_n1 {
		margin-left: -650px;
		margin-top: -300px;

		.creative-result-label__dot {
			order: 1;
		}
	}

	&_n2 {
		margin-left: -810px;

		.creative-result-label__dot {
			order: 1;
		}
	}

	&_n3 {
		margin-left: -690px;
		margin-top: 300px;

		.creative-result-label__dot {
			order: 1;
		}
	}

	&_n4 {
		margin-left: 690px;
		margin-top: -300px;

		.creative-result-label__text {
			margin-left: 42px;
		}
	}

	&_n5 {
		margin-left: 810px;

		.creative-result-label__text {
			margin-left: 42px;
		}
	}

	&_n6 {
		margin-left: 660px;
		margin-top: 300px;

		.creative-result-label__text {
			margin-left: 42px;
		}
    }
    
    &_mini {
        margin-top: 10px;
        @include grid-width(6);

        .creative-result-label__text {
            margin-left: 20px;
        }
    }

    &__dot {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
    }

    &__text {
        @include text(p2);
    }
}

.our-telegram {
	margin-top: 100px;

	.main__left, .main__right {
		flex-shrink: 1;
	}

	&__icons {
		width: 100%;
		display: flex;
		margin: 0 -30px;

		&_left1 {
			justify-content: flex-end;
			margin-right: 30px;
		}

		&_left2 {
			justify-content: flex-start;
		}

		&_right1 {
			justify-content: flex-end;
		}

		&_right2 {
			margin-top: 190px;
			justify-content: flex-start;
		}
	}

	&__icon {
		width: 30px;
		height: 30px;
		margin: 0 30px;
    }
    
    &__main-icon {
        display: flex;
        justify-content: center;
        display: none;
    }

	&__title {
		margin: 55px 0px;
		@include title(h3);
		text-align: center;
		background: $gradient_main;
        -webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.faq {
    margin-top: 120px;

    &__left-links {
        margin-top: 120px;
    }

    &__btn-submit {
        margin-top: 50px;
    }

    &__divider {
    }

    &__row {
        margin-top: 25px;
        margin-bottom: 45px;
        @include grid-row();
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
    }

    &__left {
        @include grid-width(4);
    }

    &__right {
        @include grid-width(8);
    }

    &__title {
        @include title(h3);
    }

    &__stage {
        margin-top: 25px;

        &:nth-child(1) {
            margin-top: 29px;
        }
    }

    &__more-questions {
        margin-top: 45px;
    }
}

.faq-stage {

    &__row {
        @include grid-row();
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
    }

    &__label {
        @include grid-width(7);
        @include text(p2);
		opacity: 0.8;
    }

    &__more-btn {
        @include grid-width(1);
        flex-shrink: 0;
        width: 25px;
        height: 25px;
    }

    &__divider {
        margin-top: 30px;
    }
}

.more-questions-btn {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__label {
        @include text(p2);
    }

    &__icon {
        margin-left: 15px;
        width: 21px;
        height: 21px;
    }
}

.contacts {
    margin-top: 120px;
    background-color: $color_bg_pink;
    padding-top: 120px;
    padding-bottom: 130px;

    &__left-links {
        margin-top: 130px;
    }

    &__row {
        @include grid-row();
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
    }

    &__left {
        @include grid-width(4);
    }

    &__right {
        @include grid-width(6);
    }

    &__title {
        @include title(h3);
    }

    &__phone-row {
        margin: 0 -15px;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__phone {
        margin: 0 15px;
        @include text(p1);
        white-space: nowrap;
    }

    &__soc-icon {
        margin: 0 15px;

        img {
            width: 24px;
            max-width: 100%;
        }
    }

    &__email {
        @include text(p1);
        margin-top: 22px;
    }

    &__links {
        display: flex;
        margin: 0 -10px;
        margin-top: 45px;
    }

    &__link {
        margin: 10px;
    }

    &__form {
        margin-top: 95px;
    }

    &__fields-row {
        @include grid-row();
        display: flex;
        flex-wrap: wrap;
    }

    &__input-email {
        @include grid-width(6);
    }

    &__input-phone {
        @include grid-width(6);
    }

    &__input-question {
        margin-top: 32px;
    }

    &__form-row {
        margin-top: 30px;
        @include grid-row();
		display: flex;
		flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__agree {
        @include text(p5);
        @include grid-width(8);
    }

    &__btn-submit {
        @include grid-width(4);
        display: flex;
        justify-content: flex-end;
    }
}

.work-examples {
    margin-top: 140px;

    &__left-links {
        margin-top: 130px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include grid-row();
    }

    &__left {
        @include grid-width(4);
    }

    &__right {
        @include grid-width(8);
    }

    &__title {
        @include title(h3);
    }

    &__btn-submit {
        margin-top: 50px;
    }

    &__right-row {
        display: flex;
        justify-content: space-between;
    }

    &__label {
        @include text(p4);
        opacity: 0.7;
    }

    &__pagination {
        margin-left: 10px;
    }

    &__pagination-mini {
        display: none;
    }

    &__btn-left {
    }

    &__btn-right {
        margin-left: 50px;
    }

    &__music-players {
        margin: -5px -15px;
        margin-top: 25px;
        padding-left: 25px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include grid-row();
    }

    &__music-player {
        @include grid-width(6);
        margin: 5px 15px;
    }
}
