@import "settings.scss";
@import "reset.scss";
@import "mixins.scss";

@import "popups.scss";
@import "index.scss";
@import "about.scss";
@import "catalog.scss";

//header
.header {
	font-family: $font_main;
	white-space: nowrap;
	padding: 0 20px;

	&__inner {
		height: 130px;
		max-width: $page_inner_width;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		max-width: 170px;
	}

	&__nav {
		margin-left: 10px;
	}

	&__contacts {
		margin-left: 10px;
	}

	&__menu {
		display: flex;
		margin-left: 10px;
	}
}
.logo {
}
.main-nav {
	&__links {
		display: flex;
	}

	&__link {
		@include text(p2);
		margin-left: 50px;
		opacity: 0.9;

		&:nth-child(1) {
			margin-left: 0px;
		}
	}
}
.header-contacts {
	display: flex;

	&__phone {
		opacity: 1;
		@include text(p2);
		font-weight: normal;
		opacity: 1;
	}

	&__soc-list {
		display: flex;
		align-items: center;
		margin-left: 48px;
	}

	&__soc {
		margin-left: 25px;

		&:nth-child(1) {
			margin-left: 0px;
		}

		img {
			width: 17px;
		}
	}
}

.side-menu {
	width: 100%;
	max-width: 900px;
	height: 100vh;
	padding: 0px 120px;
	padding-top: 60px;
	padding-bottom: 80px;
	position: fixed;
	right: 0px;
	top: 0px;
	background-color: $color_bg_secondary;
	z-index: -1;
	opacity: 0;

	&_loaded {
		z-index: 11;
		opacity: 1;
		display: none;
	}

	&__content {
		position: relative;
		padding-top: 30px;
	}

	&__close {
		position: absolute;
		right: 0px;
		top: 0px;
	}

	&__links {
	}

	&__link {
		@include text(p1);
		font-size: 30px;
		display: block;
		transition: 0.5s all;

		&:hover {
			background: $gradient_main;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__phone-row {
		margin: -15px -15px;
		margin-top: 70px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	&__phone {
		margin: 0 15px;
		@include text(p1);
		white-space: nowrap;
	}

	&__soc-icon {
		margin: 15px;

		img {
			width: 24px;
			max-width: 100%;
		}
	}

	&__email {
		@include text(p1);
		margin-top: 15px;
	}

	&__soc-links {
		display: flex;
		margin: 0 -10px;
		margin-top: 30px;
	}

	&__soc-link {
		margin: 0px 10px;
	}
}

.dropdown {
	position: relative;

	&__content {
		position: absolute;
		top: -9999em;
		right: 0px;
		opacity: 0;
		z-index: 1;
		transition: 0.3s opacity;
	}

	&:hover &__content,
	&__content:hover {
		top: 20px;
		opacity: 1;
		height: auto;
	}
}

.burger-dropdown {
}

//footer
.footer {
	margin-top: 100px;

	&__words {
		margin: 0 auto;
		margin-top: 20px;
		height: 130px;
		background: url(../images/content-words.png) no-repeat 50% 50% / cover;
	}

	&__inner {
		margin: 0 auto;
		height: 270px;
		max-width: $page_inner_width;
	}

	&__content {
		margin: 0 auto;
		padding: 0 20px;
		padding-top: 10px;
		padding-bottom: 30px;
		max-width: $page_content_width;
		min-height: 270px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__column {
		margin-top: 30px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__column_column1 {
		max-width: 260px;
	}

	&__logo {
		max-width: 250px;
	}

	&__regulations {
		margin-top: 25px;
		@include text(p5);
	}

	&__column_column2 {
	}

	&__contacts {
	}

	&__rights {
		margin-top: 44px;
		@include text(p5);
	}

	&__column_column3 {
	}

	&__link {
		a {
			@include text(p5);
			font-size: 16px;
			opacity: 0.9;
			line-height: 200%;
		}
	}

	&__column_column4 {
	}

	&__links {
	}

	&__dev {
		margin-top: 41px;

		a {
			@include text(p5);
			opacity: 0.9;
		}
	}
}

.footer-contacts {
	&__row {
		margin-top: 14px;
		display: flex;
		@include text(p4);
	}

	&__phone {
	}

	&__soc-icon {
		margin-left: 20px;
		display: flex;
		align-items: center;

		&:nth-child(1) {
			margin-left: 0px;
		}

		img {
			width: 17px;
		}
	}

	&__soc {
		margin-left: 20px;

		&:nth-child(1) {
			margin-left: 0px;
		}
	}
}

.main {
	overflow-x: hidden;

	&__inner {
		margin: 0 auto;
		max-width: $page_inner_width;
		display: flex;
		justify-content: center;

		&_soc-links {
			display: flex;
			justify-content: flex-start;
		}
	}

	&__left {
		width: 100%;
		min-width: 60px;
		max-width: 190px;
		flex-shrink: 20;

		&_links {
			min-width: 100px;
		}
	}

	&__right {
		width: 100%;
		min-width: 20px;
		max-width: 190px;
		flex-shrink: 20;
	}

	&__content {
		width: 100%;
		max-width: $page_content_width;
		height: 100%;
	}

	&__left-links {
		margin-top: 375px;
	}
}

.type {
	padding: 3px 20px;
	background: $gradient_main;
	border-radius: 20px;
	@include text(p4);
	color: $color_text_white;
}

.tag {
	padding: 5px 20px;
	white-space: nowrap;
	border: 1px solid $color_other_yellow;
	box-sizing: border-box;
	border-radius: 20px;
	color: rgba(37, 39, 51, 0.7);
	@include text(p5);
	font-size: 16px;

	&_filled {
		color: $color_text_black;
		background: $color_other_yellow;
		border: 1px solid $color_other_yellow;
		opacity: 1;
	}

	&_border-red {
		border-color: #e84941;
	}

	&_border-violet {
		border-color: #bd9bd2;
	}

	&_border-green {
		border-color: #00c8af;
	}
}

.divider {
	height: 1px;
	transform: scaleY(0.5);
	background: $gradient_main;
	opacity: 0.8;
}

.btn-submit {
}

.arrows-pagination {
	display: flex;
	align-items: center;
}
.arrow-left {
}
.arrow-right {
	object {
		transform: rotate(180deg);
	}
}

.left-links {
	position: relative;
	@include text(p3);
	opacity: 0.3;

	&_bold {
		opacity: 0.9;
	}

	&__soc-links {
		position: absolute;
		width: 20px;
		height: 30px;
		display: flex;
		align-items: flex-start;
		transform: rotate(-90deg) translateX(-45px);
		left: 20px;
	}

	&__soc-link {
		@include text(p4);
		margin-left: 20px;

		&:nth-child(1) {
			margin-left: 0px;
		}
	}
}

.videobox {
	&__video {
		cursor: pointer;
		max-width: 100%;
	}

	&__label {
		margin-top: 36px;
		@include text(p2);
	}
}

.project-authors {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		@include title(h3);
		text-align: center;
	}

	&__authors {
		display: flex;
		justify-content: space-between;
		@include grid-row();
		margin-top: 40px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__author {
		@include grid-width(3);
		display: flex;
		justify-content: center;

		img {
			max-width: 100%;
			height: 150px;
			filter: grayscale(100%);
			border-radius: 50%;
		}
	}

	&__active-author {
		@include grid-width(6);
		max-width: 700px;
		height: 450px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: url(../images/about_center_author.png) no-repeat 50% 50% /
			cover;
		background-size: 700px;

		img {
			max-width: 100%;
			border-radius: 50%;
		}
	}

	&__author-about {
		margin-top: 50px;
		max-width: 500px;
		text-align: center;
	}
}
.author-about {
	&__name {
		@include title(h5);
	}

	&__about {
		margin-top: 12px;
		@include text(p2);
	}
}

.project-authors-block {
	display: block;

	&_index {
		margin-top: 140px;
		padding-top: 110px;
		padding-bottom: 120px;
	}

	&_bg-blue {
		background-color: $color_bg_blue;
	}

	&__left-links {
		margin-top: 220px;
	}
}

.dot {
	width: 20px;
	height: 20px;
	background: $gradient_main;
	border-radius: 50%;
	flex-shrink: 0;
}

.more-btn {
	cursor: pointer;
}

.soc-link {
	@include text(p5);
	font-size: 16px;
	opacity: 0.8;
}

.text-input {
	position: relative;
	color: $color_text_black;

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		transform: scaleY(0.5);
		background: $gradient_main;
		bottom: 0px;
		left: 0px;
	}

	&__input {
		background-color: transparent;
		border: 0;
		//border-bottom: 1px solid #0032c3;
		outline: none;
		transition: 0.2s ease-in-out;
		box-sizing: border-box;
	}

	&__label {
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		position: absolute;
		@include text(p4);
		cursor: text;
		transition: 0.2s ease-in-out;
	}

	&__toggle-pswd {
		position: absolute;
		top: 4px;
		right: 0px;
	}

	&__rule {
		margin-top: 10px;
		@include text(p5);
	}

	input,
	label {
		width: 100%;
		height: 40px;
		font-size: 16px;
	}

	input:valid,
	input:focus {
		border-bottom: 1px solid #0092b6;
	}

	input:valid + label,
	input:focus + label {
		font-size: 16px;
		opacity: 0.7;
		top: -30px;
		pointer-events: none;
	}
}

.music-player {
	&__inner {
		padding: 25px 0px;
		display: flex;
		border-radius: 20px;
		background-color: $color_bg_blue;
	}

	&__circle {
		margin-left: -25px;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background-color: $color_other_yellow;
		cursor: pointer;
		flex-shrink: 0;
	}

	&:nth-child(4n-1) &__circle,
	&:nth-child(4n-2) &__circle {
		background-color: $color_other_blue;
	}

	&__play {
		width: 17px;
	}

	&__music {
		margin-left: 25px;
	}

	&__music-name {
		@include title(h6);
	}

	&__music-type {
		@include text(p4);
		font-size: 16px;
		opacity: 0.5;
	}
}

//media styles
@media screen and (max-width: 1200px) {
	.creative-result-label {
		display: none;
	}

	.creative-result {
		&__mini-label {
			display: flex;
		}

		&__mini-labels {
			display: flex;
		}
	}
}

@media screen and (max-width: 992px) {
	.main {
		&__left {
			min-width: 20px;
		}
	}

	.left-links {
		display: none;
	}

	.header {
		&__nav {
			display: none;
		}

		&__contacts {
			display: none;
		}
	}

	.all-courses {
		&__title {
			text-align: center;
		}

		&__cards {
			justify-content: center;
		}
	}

	.our-worth {
		&__cards {
			justify-content: center;
		}
	}

	.welcome {
		&__row {
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;
		}

		&__left {
			width: 100%;
		}

		&__right {
			width: 100%;
		}

		&__icons {
			margin-top: 25px;
		}

		&__about {
			margin-top: 15px;
		}
	}
}

@media screen and (max-width: 768px) {
	.videobox {
		&__label {
			margin-top: 20px;
		}
	}

	.musical-constructor {
		&__info {
			@include grid-width(12);
			margin-top: 35px;
			order: 1;
		}

		&__image {
			@include grid-width(12);
		}
	}

	.about-education {
		&__videos {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		&__videobox {
			margin-top: 35px;
			@include grid-width(11);

			&:nth-child(1) {
				margin-top: 0px;
			}
		}
	}

	.about-project {
		&__left {
			@include grid-width(12);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__btn-submit {
			margin-top: 0px;
		}

		&__right {
			margin-top: 20px;
			@include grid-width(12);
		}

		&__row {
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}

		&__videobox {
			margin-top: 35px;
			@include grid-width(11);

			&:nth-child(1) {
				margin-top: 0px;
			}
		}
	}

	.our-telegram {
		&__icons {
			display: none;
		}

		&__main-icon {
			display: flex;
		}

		&__title {
			margin-top: 15px;
			margin-bottom: 0px;
		}

		.main__left,
		.main__right {
			flex-shrink: 20;
		}
	}

	.work-examples {
		&__left {
			@include grid-width(12);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__btn-submit {
			margin-top: 0px;
		}

		&__right {
			@include grid-width(12);
		}

		&__right-row {
			display: none;
		}

		&__pagination-mini {
			display: flex;
			margin-top: 50px;
		}
	}

	.project-authors {
		&__authors {
			justify-content: center;
		}

		&__active-author {
			@include grid-width(12);
		}

		&__author {
			display: none;
		}
	}

	.faq {
		&__left {
			@include grid-width(12);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__btn-submit {
			margin-top: 0px;
		}

		&__right {
			@include grid-width(12);
			margin-top: 35px;
		}
	}

	.contacts {
		&__left {
			@include grid-width(12);
		}

		&__right {
			@include grid-width(12);
		}

		&__links {
			margin-top: 20px;
		}

		&__form {
			margin-top: 40px;
		}
	}
}

@media screen and (max-width: 576px) {
	.profile-dropdown {
		margin-left: 10px;
	}

	.footer {
		margin-top: 20px;

		&__rights {
			margin-top: 20px;
		}
	}

	.all-courses {
		margin-bottom: 40px;
	}

	.algorithm-education {
		margin-top: 40px;

		&__mini-title {
			display: block;
		}

		&__title {
			display: none;
		}

		&__stage {
			padding-left: 0px;
		}
	}

	.videobox {
		margin-top: 35px;

		&:nth-child(1) {
			margin-top: 0px;
		}

		&__label {
			margin-top: 20px;
		}
	}

	.project-aim {
		&__row {
			flex-direction: column;
		}

		&__description {
			margin-top: 30px;
		}
	}

	.project-about {
		&__row {
			flex-direction: column;
			justify-content: center;
		}

		&__statistics {
			margin-top: 20px;
			margin-left: -20px;
			justify-content: space-between;
		}

		&__image {
			height: 320px;
			margin-top: 30px;
		}
	}

	.project-aim {
		margin-top: 45px;

		&__images {
			flex-direction: column;
			justify-content: center;
		}

		&__image {
			&:nth-child(1) {
				margin-top: 0px;
			}

			margin-top: 30px;
			margin-left: 0px;
		}
	}

	.our-worth {
		margin-top: 60px;

		&__cards {
			margin-top: 40px;
		}

		&__card {
			margin-bottom: 15px;
		}
	}

	.about-education {
		margin-top: 55px;
	}

	.project-authors {
		margin-top: 40px;
	}

	.project-reviews {
		padding: 50px 0px;

		&__content {
			justify-content: center;
			flex-direction: column;
		}

		&__left {
			width: 100%;
			display: flex;
			margin: 0px;
			justify-content: space-between;
		}

		&__row {
			margin-top: 30px;
		}

		&__btns_main {
			display: none;
		}

		div &__btns_mini {
			display: flex;
		}

		&__sender {
			margin-top: 10px;
		}

		&__review {
			margin-top: 16px;
		}

		&__submit {
			margin-top: 5px;
		}

		&__right {
			width: 100%;
			margin: 0px;
		}

		&__btn-more {
			margin-top: 28px;
		}

		&__btns_mini {
			margin-top: 40px;
		}
	}

	.news {
		margin-top: 55px;
		margin-bottom: 80px;

		&__row {
			margin-top: 40px;
		}

		&__news-card {
			width: 100%;
			display: none;

			&:nth-child(1) {
				display: block;
			}
		}
	}

	.algorithm-stage {
		&__label {
			margin-left: 20px;
		}
	}

	.welcome {
		&__arrow-in-circle {
			display: none;
		}
	}

	.creative-result {
		&__title {
			height: 75px;
			@include title(h5);
		}

		&__mini-labels {
			justify-content: center;
		}
	}

	.creative-result-label {
		&_mini {
			@include grid-width(12);
		}
	}
}

.main-btn {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: $gradient_main;
	border: none;
	border-radius: 11px;
	padding: 1px;
	cursor: pointer;
	outline: none;
	opacity: 0.7;

	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		width: calc(100% - 1px);
		height: calc(100% - 1px);
		background-color: white;
		border-radius: 11px;
	}

	&__text {
		@include title(h6);
		background: $gradient_main;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

@media screen and (max-width: 480px) {
	.text-input {

		&__label {
			top: -20px;
		}

		&__toggle-pswd {
			top: 2px;

			object {
				width: 24px;
			}
		}

		& input, & label {
			height: 30px;
		}

		& input:valid + label, & input:focus + label {
			top: -25px;
		}
	}

	.main-btn {
		&__text {
			font-size: 16px;
		}
	}

	.popup {

		&__content {
		}
	
		&__first-row {
		}
	
		&__title {
			@include title(h6);
		}
	
		&__close {
			object {
				width: 15px;
				height: 15px;
			}
		}
	}
	
	.popup-signin {
	
		&__content {
		}
	
		&__form {
			margin-top: 50px;
		}
	
		&__input-email {
		}
	
		&__input-password {
			margin-top: 30px;
		}
	
		&__btn {
			margin-top: 30px;
		}
	
		&__regulations {
			margin-top: 15px;
			font-size: 10px;
		}
	
		div &__no-account {
			margin-top: 26px;
		}
	}
	
	.popup-signup {
	
		&__content {
			max-width: 450px;
		}
	
		&__form {
			margin-top: 35px;
		}
	
		&__input-email {
		}
	
		&__input-phone {
			margin-top: 30px;
		}
	
		&__input-password {
			margin-top: 30px;
		}
	
		&__input-password2 {
			margin-top: 30px;
		}
	
		&__btn {
			margin-top: 30px;
		}
	
		&__regulations {
			font-size: 10px;
		}
	
		div &__have-account {
			margin-top: 30px;
		}
	}
	
	.havent-or-have-account {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@include text(p4);
		font-size: 16px;
		margin: -5px;
	
		&__text {
			margin: 5px;
			opacity: 0.9;
		}
	
		&__link {
			margin: 5px;
			text-decoration-line: underline;
			opacity: 0.9;
		}
	}

	.side-menu {
		padding-top: 35px;
		padding-left: 40px;
		padding-right: 15px;
		padding-bottom: 55px;

		&__content {
			padding-top: 65px;
		}

		&__link {
			@include text(p4);
		}

		&__phone-row {
			margin-top: 60px;
		}

		&__phone {
			font-size: 18px;
		}

		&__soc-icon {
			margin: 10px;

			img {
				width: 20px;
				height: 20px;
			}
		}

		&__email {
			font-size: 18px;
			margin-top: 15px;
		}

		&__soc-links {
			font-size: 16px;
			margin-top: 15px;
			color: black;
		}
	}

	.tag {
		font-size: 14px;
	}

	.btn-submit {
		object {
			width: 50px;
		}
	}

	.project-about {
		&__statistics {
			justify-content: center;
		}
	}

	.worth-card {
		&__label {
			@include text(p4);
		}
	}

	.welcome-title {
		@include title(h4);
	}

	.welcome {
		&__image {
			height: 250px;
		}

		&__about {
			@include text(p3);
		}
	}

	.musical-constructor {
		margin-top: 45px;
		padding: 35px 0px;

		&__title {
			font-size: 24px;

			img {
				width: 24px;
			}
		}

		&__about {
			font-size: 16px;
		}
	}

	.about-project {
		margin-top: 35px;

		&__about2 {
			margin-top: 15px;
		}

		&__row {
			margin-top: 40px;
		}
	}

	.about-education {
		padding-bottom: 50px;
	}

	.creative-result {
	}

	.algorithm-education {
		&__title {
			font-size: 24px;
		}
	}

	.algorithm-stage {
		&__dot {
			width: 10px;
			height: 10px;
		}

		&__label {
			font-size: 14px;
		}
	}

	.our-telegram {
		margin-top: 50px;
	}

	.work-examples {
		margin-top: 80px;

		&__music-player {
			@include grid-width(12);

			&:nth-child(2n) {
				display: none;
			}
		}
	}

	.project-authors-block {
		&_index {
			margin-top: 50px;
			padding-top: 0px;
			padding-bottom: 35px;
		}
	}

	.faq {
		margin-top: 35px;
	}

	.contacts {
		margin-top: 50px;
		margin-bottom: 35px;
		padding-top: 35px;
		padding-bottom: 50px;
		font-style: 18px;

		&__title {
			@include title(h5);
			opacity: 1;
		}

		&__phone {
			@include text(p4);
			margin-right: 10px;
		}

		&__soc-icon {
			margin: 0px 10px;

			img {
				width: 21px;
			}
		}

		&__email {
			margin-top: 15px;
			@include text(p4);
		}

		&__links {
			margin-top: 15px;
		}

		&__phone-row {
			margin-top: 35px;
		}

		&__input-email {
			@include grid-width(12);
		}

		&__input-phone {
			margin-top: 25px;
			@include grid-width(12);
		}

		&__input-question {
			margin-top: 25px;
		}

		&__agree {
			@include grid-width(12);
		}

		&__btn-submit {
			@include grid-width(12);
			margin-top: 30px;
			justify-content: flex-start;
		}
	}

	.creative-result-label {
		&_mini {
			.creative-result-label__dot {
				width: 10px;
				height: 10px;
			}

			.creative-result-label__text {
				font-size: 16px;
			}
		}
	}
}
