.safari_browser {
    .creative-result-label {
        &_n1 {
            margin-left: -325px;
            margin-top: -150px;
        }
    
        &_n2 {
            margin-left: -405px;
        }
    
        &_n3 {
            margin-left: -345px;
            margin-top: 150px;
        }
    
        &_n4 {
            margin-left: 345px;
            margin-top: -150px;
        }
    
        &_n5 {
            margin-left: 405px;
        }
    
        &_n6 {
            margin-left: 330px;
            margin-top: 150px;
        }
    }
}