<div class="popup popup-img-more">
	<div class="popup__content popup-img-more__content">
		<div class="popup__first-row">
			<div class="popup__title">Подробнее</div>
			<div class="popup__close">
				<object
					data="{{ 'assets/images/icons/close.svg'|theme }}"
					type="image/svg+xml"
				></object>
			</div>
        </div>
        <div class="popup-img-more__img-card">
			<div class="popup-img-more__img-row">
				<div class="popup-img-more__arrow popup-img-more__arrow_left"><</div>
				<img src="/assets/" alt="Развернутое изображение" class="popup-img-more__img">
				<div class="popup-img-more__arrow popup-img-more__arrow_right">></div>
			</div>
            <div class="popup-img-more__about"></div>
        </div>
	</div>
</div>
