description = "Главный шаблон"

[session]
security = "all"

[account]
paramCode = "code"
forceSecure = 0
requirePassword = 1
==
<?php
function onStart()
{
	$this['backend_user'] = BackendAuth::getUser();
	
	$this['tools'] = new class {
        public function plural_form($n, $forms) {
            return $n%10==1&&$n%100!=11?$forms[0]:($n%10>=2&&$n%10<=4&&($n%100<10||$n%100>=20)?$forms[1]:$forms[2]);
        }
    };
}
?>
==
{##}
<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>{{ this.page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{ this.page.meta_description }}">
	<meta name="title" content="{{ this.page.meta_title }}">
	<link rel="shortcut icon" href="{{ 'assets/images/icons/favicon.png'|theme }}" type="image/x-icon">
	<link rel="icon" type="image/png" href="{{ 'assets/images/october.png'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/css/main.css'|theme }}">
	<link rel="stylesheet" href="{{ 'assets/vendor/glide/css/glide.core.min.css'|theme }}">
	{% styles %}
</head>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
ym(83248861, "init", {
		clickmap:true,
		trackLinks:true,
		accurateTrackBounce:true,
		webvisor:true
});
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/83248861" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<body>
	{% partial 'header' %}
	{% partial 'side_menu' %}
	<main class="main">
		{% page %}
		{% if not user %}
			{% partial account ~ '::signin' %}
			{% partial account ~ '::register' %}
		{% endif %}
	</main>
	{% partial 'popups/img_more' %}
	{% partial 'footer' %}
	<script src="{{ 'assets/vendor/jquery.js'|theme }}"></script>
	<script src="{{ 'assets/vendor/glide/js/glide.min.js'|theme }}"></script>
	<script src="{{ 'assets/javascript/main.js'|theme }}"></script>
    {% framework extras %}
    {% scripts %}
</body>
</html>