<div class="course-page-lesson {{ classes }}">
    <div class="course-page-lesson__num">{{ lesson.number }} урок</div>
    <div class="course-page-lesson__video">
        {% if lesson.video_type == 'youtube' %}
			<iframe src="{{ lesson.video_link }}" class="video-frame videobox__video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
		{% else %}
			<iframe src="{{ lesson.video_link }}" class="video-frame videobox__video" frameborder="0" allow="autoplay; fullscreen"></iframe>
		{% endif %}
    </div>
    <div class="course-page-lesson__info">
        <div class="course-page-lesson__about">{{ lesson.about }}</div>
        <div class="course-page-lesson__files">
            {% for file in lesson.files %}
                {% partial 'blocks/file' file=file classes="course-page-block__file" %}
            {% endfor %}
        </div>
    </div>
</div>