<div class="course-card {{ classes }}">
    <div class="course-card__image">
        <img src="{{ 'assets/images/course_card1.png'|theme }}" alt="..." />
        <div class="course-card__types">
            <div class="course-card__type type">{{ data.type.name }}</div>
        </div>
    </div>
    <div class="course-card__about">
        <div class="course-card__name">
            {{ data.title }}
        </div>
        <div class="course-card__description">
            {{ data.about }}
        </div>
        <div class="course-card__bottom">
            <div class="course-card__tags">
                {% for tag in data.tags %}
                    <div class="course-card__tag tag">{{ tag.name }}</div>
                {% endfor %}
            </div>
            {% if btn %}
                {% set link = "/courses/" ~ data.slug %}
                {% partial 'blocks/btn_submit_link' classes="course-card__btn" link=link %}
            {% endif %}
        </div>
    </div>
</div>