<div class="course-card {{ classes }}">
    <div class="course-card__image">
        <img src="{{ 'assets/images/course_card1.png'|theme }}" alt="..." />
        <div class="course-card__types">
            <div class="course-card__type type">музыка</div>
        </div>
    </div>
    <div class="course-card__about">
        <div class="course-card__name">
            Музыкальный конструктор
        </div>
        <div class="course-card__description">
            Собери 21 музыкальную композицию в разных
            музыкальных стилях.
        </div>
        <div class="course-card__bottom">
            <div class="course-card__tags">
                <div class="course-card__tag tag">24 видео</div>
                <div class="course-card__tag tag">
                    21 композиция
                </div>
                <div class="course-card__tag tag">
                    18 часов практики
                </div>
                <div class="course-card__tag tag">24 видео</div>
            </div>
            <div class="course-card__btn">
                <div class="btn-submit">
                    <object
                        data="{{ 'assets/images/btn-submit.svg'|theme }}"
                        type="image/svg+xml"
                    ></object>
                </div>
            </div>
        </div>
    </div>
</div>