==
<div class="music-player {{ classes }}">
    <div class="music-player__gap"></div>
    <div class="music-player__inner">
        <div class="music-player__circle">
            <img
                src="{{ 'assets/images/icons/music_play.png'|theme }}"
                alt="Плеер"
                class="music-player__play"
            />
            <img
                src="{{ 'assets/images/icons/music_play.png'|theme }}"
                alt="Плеер"
                class="music-player__play music-player__play_stopped"
            />
        </div>
        <div class="music-player__music">
            <div class="music-player__music-name">
                {{ data.name }}
            </div>
            <div class="music-player__music-type">
                {{ data.type }}
            </div>
        </div>
    </div>
    <audio src="{{ data.example|media }}" class="music-player__audio"></audio>
</div>