<div class="project-authors-block {{ classes }}">
	<div class="main__inner main__inner_soc-links">
		<div class="main__left project-authors-block__left">
			<div class="project-authors-block__left-links left-links">
				{% partial 'side_soc_links' %}
			</div>
		</div>
		<div class="main__content">
			<div class="project-authors {{ classes_in_content }}">
				<div class="project-authors__title">Авторы курсов</div>
				<div class="glide project-authors__slider">
					<div class="glide__track" data-glide-el="track">
						<ul class="glide__slides project-authors__authors">
							{% if project_authors is not defined or project_authors is empty %}
								{% set project_authors = this.theme.project_authors %}
							{% endif %}
							{% for project_author in project_authors %}
								<li class="glide__slide project-authors__author">
									<div class="project-authors__author-image">
										<img
											src="{{ project_author.image|media }}"
											alt="{{ project_author.name }}"
										/>
									</div>
									<div
										class="project-authors__author-about author-about"
									>
										<div class="author-about__name">
											{{ project_author.name }}
										</div>
										<div class="author-about__about">
											{{ project_author.about }}
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="main__right project-authors-block__right"></div>
	</div>
</div>
