<div
	class="project-authors-block {{ classes }}"
>
	<div class="main__inner main__inner_soc-links">
		<div class="main__left">
			<div class="project-authors-block__left-links left-links">
				{% partial 'side_soc_links' %}
			</div>
		</div>
		<div class="main__content">
			<div class="project-authors">
				<div class="project-authors__title">Авторы курсов</div>
				<div class="project-authors__authors">
					<div class="project-authors__author">
						<img
							src="{{ 'assets/images/about_author.png'|theme }}"
							alt="Автор"
						/>
					</div>
					<div class="project-authors__active-author">
						<img
							src="{{ 'assets/images/about_author.png'|theme }}"
							alt="Автор"
						/>
					</div>
					<div class="project-authors__author">
						<img
							src="{{ 'assets/images/about_author.png'|theme }}"
							alt="Автор"
						/>
					</div>
				</div>
				<div class="project-authors__author-about author-about">
					<div class="author-about__name">Александ Караваев</div>
					<div class="author-about__about">
						Проведи время креативно и необычно на нашем
						развлекательно - образовательном проекте “Мир рядом”.
					</div>
				</div>
			</div>
		</div>
		<div class="main__right"></div>
	</div>
</div>