==
<div class="work-examples {{ add_classes }}">
	<div class="main__inner main__inner_soc-links">
		<div class="main__left">
			<div class="work-examples__left-links left-links">
				{% partial 'side_soc_links' %}
			</div>
		</div>
		<div class="main__content">
			<div class="work-examples__row">
				<div class="work-examples__left">
					<div class="work-examples__title">Примеры<br />работ</div>
					<div class="work-examples__btn-submit">
						{% partial 'blocks/btn_submit_link' link="/examples" %}
					</div>
				</div>
				<div class="work-examples__right">
					<div class="work-examples__right-row">
						<div class="work-examples__label">музыка</div>
						<div
							class="work-examples__pagination arrows-pagination"
						>
							<div class="work-examples__btn-left arrow-left">
								<object
									data="{{ 'assets/images/btn-arrow.svg'|theme }}"
									type="image/svg+xml"
								></object>
							</div>
							<div class="work-examples__btn-right arrow-right">
								<object
									data="{{ 'assets/images/btn-arrow.svg'|theme }}"
									type="image/svg+xml"
								></object>
							</div>
						</div>
					</div>
					<div class="glide work-examples__slider">
						<div class="glide__track" data-glide-el="track">
							<ul class="glide__slides">
								{% if work_examples is not defined or work_examples is empty %}
									{% set work_examples = this.theme.work_examples %}
								{% endif %}
								{% for example_block in work_examples|batch(4) %}
								<li class="glide__slide">
									<div class="work-examples__music-players">
										{% for work_example in example_block %}
											{% partial 'blocks/music_player' classes="work-examples__music-player" data=work_example %}
										{% endfor %}
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<div
						class="work-examples__pagination-mini arrows-pagination"
					>
						<div class="work-examples__btn-left arrow-left">
							<object
								data="{{ 'assets/images/btn-arrow.svg'|theme }}"
								type="image/svg+xml"
							></object>
						</div>
						<div class="work-examples__btn-right arrow-right">
							<object
								data="{{ 'assets/images/btn-arrow.svg'|theme }}"
								type="image/svg+xml"
							></object>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="main__right"></div>
	</div>
</div>